:host /deep/ .nav-pills > li.active > a {
  background-color: transparent;
  color: #5cb85c !important;
  -webkit-box-shadow: 0 0 0 2px #5cb85c;
  box-shadow: 0 0 0 2px #5cb85c;

}

:host /deep/ .nav-pills li > a  {
  background-color: transparent;
  color: #5cb85c !important;
}
