<br>
<br>
<ng-container *ngIf="viewingBidsForProject || type != 'all'">
  <div class="row pl-md-4 pr-md-4 mt-5">
    <div class="col-md-12">
      <div class="card h-100 mb-0">
        <div class="card-block ">
          <ol class="breadcrumb mt-1 ">
            <li class="breadcrumb-item active">
              <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="['../../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}Details</a>
            </li>
            <li class="breadcrumb-item">
              <a>Bids</a>
            </li>
          </ol>
          <hr>
          <div class="pb-0 ml-3 ">
            <h3 class="text-title color-green">Bids</h3>
            <small class="text-muted text-justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec felis ut nunc finibus fringilla pulvinar a tortor. Nam
              feugiat, lacus viverra bibendum interdum, turpis leo vulputate ante, vitae fringilla erat nisi in nisl. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="row mt-2">
  <div class="col-md-12">
    <div class="row pl-md-4 pr-md-4">
      <div class="col-md-4" *ngxPermissionsOnly="['builder']">
        <ng-container *ngTemplateOutlet="subcontractorsTemplate;">
        </ng-container>
      </div>
      <div class="col-md-4" *ngxPermissionsOnly="['subcontractor']">
        <ng-container *ngTemplateOutlet="scBidTypeTemplate;">
        </ng-container>
      </div>
      <div class="col-md-8" *ngxPermissionsOnly="['subcontractor']">
        <ng-container *ngTemplateOutlet="scBidsTemplate;">
        </ng-container>
      </div>
      <div class="col-md-8 " *ngxPermissionsOnly="['builder']">
        <ng-container *ngTemplateOutlet="builderBidsTemplate;">
        </ng-container>
      </div>
    </div>

  </div>
</div>

<ng-template #scBidTypeTemplate>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Bid Type</h4>
      <div class="center">
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('new')">Recent Bids In</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('accepted')">Accepted Bids</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('rejected')">Rejected Bids</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('all-in')">All Bids In</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('all-out')">All Bids Out</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #subcontractorsTemplate>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Subcontractors</h4>
      <hr/>
      <div class="center">
        <div class="btn-group-lg text-align:center; pr-3 pl-3">
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="getAllBidsForProject()">
            All Bids
          </button>
        </div>
        <div class="btn-group-lg text-align:center; pr-3 pl-3" *ngFor="let sc of scs?.data;">
          <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeSCT(sc)">
            {{sc.tradeName}}
          </button>
        </div>
      </div>
      <div *ngIf="scs?.next_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
        <div class="row">
          <div class="col-xs-4 col-4 col-md-4">
            <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="1" [maxSize]="maxSize"
              (pageChanged)="onPageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #scBidsTemplate>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Bids</h4>
      <ul class="list-unstyled">
        <div *ngIf="!noBid">
          <div class="mt-5 pt-3" *ngIf="!bids?.data[0]">
            <alert type="danger">No bids found</alert>
          </div>
          <div *ngFor="let bid of bids?.data;" class="mt-3">
            <li class="media">
              <a [routerLink]="['/profile', bid.companySlug]">
                <img class="d-flex mr-3 align-self-center imgLogo" [src]="storageURL + bid.bci_logoURL" width="180" height="150" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h5>
                  <a class="mt-0 mb-1" [routerLink]="['/profile', bid.companySlug]">{{bid.company}}</a>
                </h5>
                <small class="text-justify align-self-center pt-1">
                  {{bid.address}} {{bid.address2}} {{bid.city}}, {{bid.province}}
                  <br/> {{bid.phoneNumber}}
                </small>
                <br/>
                <small *ngIf="bid.builderAccepted == 1" style="color: green;">The Quote was accepted by the Builder on {{bid.builder_accepted_at | amDateFormat:'MMMM Do YYYY'}}</small>
                <small *ngIf="bid.builderAccepted == 0" style="color: red;">The Quote was rejected by the Builder on {{bid.builder_rejected_at | amDateFormat:'MMMM Do YYYY' }}</small>
                <small *ngIf="bid.bbo_scViewed == 0">
                  <strong>This Bid is unread. It was sent on {{bid.b_created_at | amDateFormat:'MMMM Do YYYY' }}</strong>
                </small>
                <div class="btn-toolbar btn-block mt-3">
                  <button *ngIf="!bid.scboID" type="button" class="btn btn-outline-success mr-1" [routerLink]="['/projects', bid.projectID, 'bids', bid.id, 'view', bid.bboID]">View Bid Details</button>
                  <button *ngIf="!bid.scboID" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID, 'bids', bid.id, 'sc', 'quote']">Send Quote</button>
                  <button *ngIf="bid.scboID" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID, 'bids', bid.id, 'sc', 'quote']">Edit Quote</button>
                  <button *ngIf="bid.bboID != null &&  bid.bidAcceptedSCBOID != null" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID , 'accounting', bid.accountingID, 'invoice']">View Invoice</button>
                  <button type="button" class="btn btn-outline-success" [routerLink]="['/projects', bid.projectID,  'chat', bid.chatUUID]">Message</button>
                </div>
              </div>
            </li>
          </div>
        </div>
        <hr>
        <div *ngIf="noBid">
          <div class="mt-1 pt-2" *ngIf="!bids?.data[0]">
            <alert type="danger">No bids found</alert>
          </div>
          <div class="mt-3">
            <hr>
            <textarea _ngcontent-c9="" autosize="" class="form-control ng-untouched ng-pristine ng-invalid" id="bid-message" name="bid_message" ng-model="bid_message" placeholder="Enter Description here" rows="1" type="text" style="max-height: 75px; resize: none; overflow: hidden; height: 173px;"></textarea>
            <button (click)="sendBid()" class="mt-2 btn btn-outline-success float-right" type="button">Send Bid</button>
          </div>
        </div>
      </ul>
    </div>
    <div *ngIf="bids?.next_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
      <div class="row">
        <div class="col-xs-8 col-8 col-md-8">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="1" [maxSize]="maxSize"
            (pageChanged)="onBidPageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #builderBidsTemplate>
  <div class="card h-100 ">
    <div class="card-block">
      <h4 class="card-title center">Bids for {{title}}</h4>
      <hr/>
      <tabset #staticTabs type="pills justify-content-center">
        <tab heading="Accepted Bids">
          <div class="mt-5 pt-3" *ngIf="!acceptedBids[0]?.companySlug">
            <alert type="danger">You don't have any responses yet</alert>
            <!--<button type="button" class="btn btn-block btn-outline-success mr-1" [routerLink]="['../../', projectID ? projectID : bidsIn[0]?.projectID,'subcontractors']">View Subcontractors</button>-->
          </div>
          <ul class="list-unstyled">
            <div *ngFor="let acb of acceptedBids;" class="mt-3">
              <li class="media">
                <a [routerLink]="['/profile', acb.companySlug]">
                  <img class="d-flex mr-3 align-self-center imgLogo" [src]="storageURL + acb.logoURL" width="180" height="150" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <h5>
                      <a class="mt-0 mb-1" [routerLink]="['/profile', acb.companySlug]">{{acb.company}}</a>
                    </h5>
                    <ng-container *ngIf="acb.bidViewedByBuilder == 0 && (acb.scbo_builderAccepted != 0 || acb.scbo_builderRejected != 0)">
                      <small class="font-weight-bold">This bid is unread</small>
                    </ng-container>
                    <ng-container *ngIf="acb.bidViewedByBuilder == 1 && acb.scbo_updated_at != null">
                      <small class="font-weight-bold">Quote updated on {{acb.scbo_updated_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="acb.bidViewedByBuilder == 1 && acb.scbo_updated_at == null && acb.scbo_created_at != null && (acb.scbo_builderAccepted != 1 || acb.scbo_builderRejected != 1)">
                      <small class="font-weight-bold">Quote updated on {{acb.scbo_updated_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="acb.scbo_builderAccepted == 1">
                      <small class="font-weight-bold" [style.color]="'green'">You accepted this Quote on {{acb.builderAcceptedAtSCBO | amDateFormat:'MMMM Do YYYY'}}</small>
                    </ng-container>
                    <ng-container *ngIf="acb.scbo_builderRejected == 1 ">
                      <small class="font-weight-bold" [style.color]="'red'">You rejected this Quote on {{acb.builderRejectedAtSCBO | amDateFormat:'MMMM Do YYYY'}}</small>
                    </ng-container>
                    <ng-container *ngIf="!acb.scboID && acb.bidViewedByBuilder == 1 && acb.scbo_created_at == null && (acb.scbo_builderAccepted != 1 || acb.scbo_builderRejected != 1)">
                      <small class="font-weight-bold">You sent this bid on {{acb.created_at | amDateFormat:'MMMM Do YYYY'}}</small>
                    </ng-container>
                  </div>
                  <small class="text-justify align-self-center pt-1">
                    {{acb.address}} {{acb.address2}} {{acb.city}}
                    <br /> {{acb.phoneNumber}}
                  </small>
                  <div class="btn-toolbar btn-block mt-3">
                    <button type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', acb.projectID, 'bids', acb.bidID, 'view', acb.bboID]">View Bid</button>
                    <button *ngIf="acb.bboID != null &&  acb.bidAcceptedSCBOID == null && acb.scboID != null" type="button" class="btn btn-outline-success mr-2"
                      [routerLink]="['/projects', acb.projectID, 'bids', acb.bidID, 'builder', 'quote']">View Quote</button>
                    <!--<button  type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', acb.projectID, 'bids', acb.bidID, 'builder', 'quote']">delete</button>-->
                    <button *ngIf="acb.bboID != null &&  acb.bidAcceptedSCBOID != null" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', acb.projectID , 'accounting', acb.accountingID, 'invoice']">View Invoice</button>
                    <button type="button" class="btn btn-outline-success" [routerLink]="['/', 'projects', acb.projectID, 'chat', acb.chatUUID]">Message</button>
                  </div>
                </div>
              </li>
              <hr>
            </div>
          </ul>
        </tab>
        <tab heading="Bids In">
          <div class="mt-5 pt-3" *ngIf="!bidsIn[0]">
            <alert type="danger">You don't have any responses yet</alert>
            <!--<button type="button" class="btn btn-block btn-outline-success mr-1" [routerLink]="['../../', projectID ? projectID : bidsIn[0]?.projectID,'subcontractors']">View Subcontractors</button>-->
          </div>
          <ul class="list-unstyled">
            <div *ngFor="let bidIn of bidsIn;" class="mt-3">
              <li class="media">
                <a [routerLink]="['/profile', bidIn.companySlug]">
                  <img class="d-flex mr-3 align-self-center imgLogo" [src]="storageURL + bidIn.logoURL" width="180" height="150" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <h5>
                      <a class="mt-0 mb-1" [routerLink]="['/profile', bidIn.companySlug]">{{bidIn.company}}</a>
                    </h5>
                    <ng-container *ngIf="bidIn.bidViewedByBuilder == 0 && (bidIn.scbo_builderAccepted != 0 || bidIn.scbo_builderRejected != 0)">
                      <small class="font-weight-bold">This bid is unread</small>
                    </ng-container>
                    <ng-container *ngIf="bidIn.bidViewedByBuilder == 1 && bidIn.scbo_updated_at != null">
                      <small class="font-weight-bold">Quote updated on {{bidIn.scbo_updated_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="bidIn.bidViewedByBuilder == 1 && bidIn.scbo_updated_at == null && bidIn.scbo_created_at != null && (bidIn.scbo_builderAccepted != 1 || bidIn.scbo_builderRejected != 1)">
                      <small class="font-weight-bold">Quote updated on {{bidIn.scbo_updated_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="bidIn.scbo_builderAccepted == 1">
                      <small class="font-weight-bold" [style.color]="'green'">You accepted this Quote on {{bidIn.builderAcceptedAtSCBO | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="bidIn.scbo_builderRejected == 1 ">
                      <small class="font-weight-bold" [style.color]="'red'">You rejected this Quote on {{bidIn.builderRejectedAtSCBO | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="!bidIn.scboID && bidIn.bidViewedByBuilder == 1 && bidIn.scbo_created_at == null && (bidIn.scbo_builderAccepted != 1 || bidIn.scbo_builderRejected != 1)">
                      <small class="font-weight-bold">You sent this bid on {{bidIn.created_at | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}}}</small>
                    </ng-container>
                  </div>
                  <small class="text-justify align-self-center pt-1">
                    {{bidIn.address}} {{bidIn.address2}} {{bidIn.city}}
                    <br /> {{bidIn.phoneNumber}}
                  </small>
                  <div class="btn-toolbar btn-block mt-3">
                    <button type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bidIn.projectID, 'bids', bidIn.bidID, 'view', bidIn.bboID]">View Bid</button>
                    <button *ngIf="bidIn.bboID != null &&  bidIn.bidAcceptedSCBOID == null && bidIn.scboID != null" type="button" class="btn btn-outline-success mr-2"
                      [routerLink]="['/projects', bidIn.projectID, 'bids', bidIn.bidID, 'builder', 'quote']">View Quote</button>
                    <button *ngIf="bidIn.bboID != null &&  bidIn.bidAcceptedSCBOID != null" type="button" class="btn btn-outline-success mr-2"
                      [routerLink]="['/projects', bidIn.projectID , 'accounting', bidIn.accountingID, 'invoice']">View Invoice</button>
                    <button type="button" class="btn btn-outline-success" [routerLink]="['/', 'projects', bidIn.projectID, 'chat', bidIn.chatUUID]">Message</button>
                  </div>
                </div>
              </li>
              <hr>
            </div>
          </ul>
        </tab>
        <tab heading="Bids Out">
          <ul class="list-unstyled">
            <div class="mt-5 pt-3" *ngIf="!bidsOut[0]">
              <alert type="danger">You don't have a bid filled in for this trade.</alert>
              <!--<button type="button" class="btn btn-block btn-outline-success mr-1" [routerLink]="['/projects', projectID ? projectID : bidsOut[0]?.projectID, 'subcontractors']">Fill out a Bid Form now</button>-->
            </div>
            <div *ngFor="let bid of bidsOut;" class="mt-3">
              <li class="media">
                <a [routerLink]="['/profile', bid.companySlug]">
                  <img class="d-flex mr-3 align-self-center imgLogo1" [src]="storageURL + bid.logoURL" width="180" height="150" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <h5>
                      <a class="mt-0 mb-1" [routerLink]="['/profile', bid.companySlug]">{{bid.company}}</a>
                    </h5>
                    <!--<ng-container *ngIf="bid.bidViewedByBuilder == 0 && (bid.scbo_builderAccepted != 0 || bid.scbo_builderRejected != 0)">-->
                    <!--<small class="font-weight-bold">This bid is unread</small>-->
                    <!--</ng-container>-->
                    <ng-container *ngIf="bid.bidViewedByBuilder == 1 && bid.scbo_updated_at != null">
                      <small class="font-weight-bold">Quote updated on {{bid.scbo_updated_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="bid.bidViewedByBuilder == 1 && bid.scbo_updated_at == null && bid.scbo_created_at != null && (bid.scbo_builderAccepted != 1 || bid.scbo_builderRejected != 1)">
                      <small class="font-weight-bold">Quote updated on {{bid.scbo_updated_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                    <ng-container *ngIf="bid.scbo_builderAccepted == 1">
                      <small class="font-weight-bold" [style.color]="'green'">You accepted this Quote on {{ bid.builderAcceptedAtSCBO | amDateFormat:'MMMM Do YYYY'}}</small>
                    </ng-container>
                    <ng-container *ngIf="bid.scbo_builderRejected == 1 ">
                      <small class="font-weight-bold" [style.color]="'red'">You rejected this Quote on {{ bid.builderRejectedAtSCBO | amDateFormat:'MMMM Do YYYY'}}</small>
                    </ng-container>
                    <ng-container *ngIf="!bid.scboID && bid.bidViewedByBuilder == 1 && bid.scbo_created_at == null && (bid.scbo_builderAccepted != 1 || bid.scbo_builderRejected != 1)">
                      <small class="font-weight-bold">You sent this bid on {{bid.created_at | amDateFormat:'MMMM Do YYYY'}}}}</small>
                    </ng-container>
                  </div>
                  <small class="text-justify align-self-center pt-1">
                    {{bid.address}} {{bid.address2}} {{bid.city}}
                    <br /> {{bid.phoneNumber}}
                  </small>

                  <div class="btn-toolbar btn-block mt-3">
                    <button type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID, 'bids', bid.bidID, 'view', bid.bboID]">View Bid</button>
                    <button *ngIf="bid.bboID != null &&  bid.bidAcceptedSCBOID == null && bid.scboID != null" type="button" class="btn btn-outline-success mr-2"
                      [routerLink]="['/projects', bid.projectID, 'bids', bid.bidID, 'builder', 'quote']">View Quote</button>
                    <button *ngIf="bid.bboID != null &&  bid.bidAcceptedSCBOID != null" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID , 'accounting', bid.accountingID, 'invoice']">View Invoice</button>
                    <button type="button" class="btn btn-outline-success" [routerLink]="['/', 'projects', bid.projectID, 'chat', bid.chatUUID]">Message</button>

                  </div>
                </div>
              </li>
              <hr>
            </div>
          </ul>
        </tab>
      </tabset>
    </div>
  </div>
</ng-template>