<div class="m-5">
<div class="card" *ngIf='project'>
  <div class="card-block">
    <h4 class="card-title">Contact Information</h4>
    <hr class="mb-1 mt-0" />
    <p class="card-text mb-0">{{project.firstName}} {{project.lastName}}</p>
    <p class="card-text mb-0">{{project.phoneNumber}}</p>
    <p class="card-text mb-0">{{project?.phoneNumber2}}</p>
    <br/>
    <h4 class="card-title">Project Information</h4>
    <hr class="mb-1 mt-0" />
    <p class="card-text mb-0">{{project.address}} {{project?.address2}}</p>
    <p class="card-text"> {{project.city}}, {{project.province}} {{project.postalCode}}</p>
    <p class="card-text mb-0">
      <b>Land Size:</b> {{project.lotSize}}</p>
    <p class="card-text mb-0">
      <b>Building Size:</b> {{project.buildingSize}}</p>
    <p class="card-text mb-0">
      <b>Number of Units:</b> {{project.numUnits}} </p>
    <p class="card-text mb-0">
      <b>Zoning:</b> {{project.zoning}}</p>
    <p class="card-text mb-0">
      <b>Proposed Use:</b> {{project.landType}}</p>
    <br/>
    <h4 class="card-title">Subproject Information</h4>
    <hr class="mb-1 mt-0" />
    <p class="card-text mb-0">
      <b>Description:</b>
      <br>{{description}}</p>
    <p class="card-text mb-0">
      <b>Home Builders Guide:</b> {{stepName}}</p>
    <hr class="mb-2 mt-1" />
    <div class="row float-right mt-2">
      <div class="col-md-12">
        <input type="button" value='Create Bid' class="btn btn-block btn-outline-success btn-lg" (click)='invoicePage(project.id, subproject_id)'>
      </div>
    </div>
  </div>
</div>
</div>