.body-page {
  border: 0.01rem solid lightgray !important;
  border-top: none !important;
  border-bottom: none !important;
  padding: 2%;
  height: 100vh;
}

.listItemLink {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.listItemLink:hover {
  text-decoration:none;
}

.listItemLink:visited {
  color: purple;
}

/*.imgLogo1 {
  width: 10vmin !important;
  height: 8vmin !important;
  max-width: 10vmin !important;
  max-height: 8vmin !important;
}*/

.imgLogo {
  width: 180px !important;
  height: 150px !important;
  max-width: 180px !important;
  max-height: 150vmin !important;
}

.imgLogo {
  width: 180px !important;
  height: 150px !important;
  max-width: 180px !important;
  max-height: 150vmin !important;
}

.project-details {

}

/*li { background: green; }*/
li:nth-child(odd) { background: lightgray; }


@media(min-width: 976px) {
  dl {
    margin-left: 3px;
  }

  dl > dt {
    text-align: left;
    padding: 0 !important;
    margin: 0 !important;
  }

  dl > dd {

    margin: 0 !important;
    padding: 0 !important;

  }

}


