ngui-map{
  height: 600px;
  padding: 10px 20px;
  margin-top: 30px;
}

.subpro-description {
  font-size: 15px;
}

.subpro-link {
  font-size: 11px;
  color: #0f9aee !important;
  cursor: pointer;
}

.subproject-detail {
  margin-bottom: 10px !important;
}