<div class="map">
  <ngui-map [options]="mapConfig">
    <marker *ngFor="let project of allProjectMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ' ' + project.postalCode"
      (click)="displayLabel($event, project)" [icon]="normalIcon"></marker>
    <marker *ngFor="let project of subProjectMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ' ' + project.postalCode"
      (click)="displayLabel($event, project)" [icon]="greenIcon"></marker>
    <marker *ngFor="let project of emptyProjectMarkers" [position]="project.address + ' ' + project.city + ', ' + project.province + ', Canada'"
      (click)="displayEmptySubprojectLabel($event, project)" [icon]="normalIcon"></marker>

    <info-window id="iw">
      <div *ngIf="clickedSubProjects">
        <!-- <div *ngIf="clickedSubProjects.isTrade"> -->
        <div *ngFor="let subproject of clickedSubProjects; let i = index" class='subproject-detail mt-2'>
          <div style="width:100%;">
            <h4 class='mb-1 subpro-hbg-title' style="width:90%;float:left;overflow: hidden;text-overflow: ellipsis;">
              {{ subproject.hbg.stepName }}
            </h4>
            <div *ngIf="subproject.bid" class="pull-right" style="width:10%">
              <i class="fa fa-check-circle pull-right"></i>
            </div>
          </div>
          <span class='subpro-address'>
            {{subproject.project.address + ' ' + subproject.project.city + ', ' + subproject.project.province + ' ' + subproject.project.postalCode}}
          </span>
          <br>
          <a class="pull-right mt-1 mb-1 subpro-link" (click)='sendBid(subproject)'> Go to Sub Project Detail</a>
          <hr class='m-0 p-0 mb-1' />
        </div>
        <!-- </div> -->
        <!-- <div *ngIf="!clickedSubProjects.isTrade">
          <div *ngIf="clickedSubProjects">
            <p class="mb-1">{{ clickedSubProjects.address + ' ' + clickedSubProjects.city + ', ' + clickedSubProjects.province + '
              ' + clickedSubProjects.postalCode }}
            </p>
            <a class="pull-right" (click)="displayProjectInformation(modalProjectInformation)" style="color: #0c7bbe; cursor:pointer">
              View Project Information</a>
          </div>
        </div> -->
      </div>
    </info-window>
    <info-window id="iwForEmptySubProject">
      <div *ngIf="clickedProjectMarker">
        <p class="mb-1">{{ clickedProjectMarker.address + ' ' + clickedProjectMarker.city + ', ' + clickedProjectMarker.province + ' ' +
          clickedProjectMarker.postalCode }}
        </p>
        <a class="pull-right" (click)="displayEmptySubProjectInformation(modalEmptySubProjectInformation)" style="color: #0c7bbe; cursor:pointer">
          View Project Information</a>
      </div>
    </info-window>
  </ngui-map>
</div>

<ng-template #modalProjectInformation>
  <div class="w-100">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Project Information</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card" *ngIf='clickedSubProjects'>
        <div class="card-block">
          <h4 class="card-title">Contact Information</h4>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedSubProjects.firstName}} {{clickedSubProjects.lastName}}</p>
          <!-- <p class="card-text mb-0">{{clickedSubProjects.phoneNumber}}</p>
            <p class="card-text mb-0">{{clickedSubProjects?.phoneNumber2}}</p> -->
          <br/>
          <h4 class="card-title">Project Information</h4>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedSubProjects.address}} {{clickedSubProjects?.address2}}</p>
          <p class="card-text"> {{clickedSubProjects.city}}, {{clickedSubProjects.province}} {{clickedSubProjects.postalCode}}</p>
          <p class="card-text mb-0">
            <b>Land Size:</b> {{clickedSubProjects.lotSize}}</p>
          <p class="card-text mb-0">
            <b>Building Size:</b> {{clickedSubProjects.buildingSize}}</p>
          <p class="card-text mb-0">
            <b>Number of Units:</b> {{clickedSubProjects.numUnits}} </p>
          <p class="card-text mb-0">
            <b>Zoning:</b> {{clickedSubProjects.zoning}}</p>
          <p class="card-text mb-0">
            <b>Proposed Use:</b> {{clickedSubProjects.landType}}</p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalEmptySubProjectInformation>
  <div class="w-100">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Project Information</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card" *ngIf='clickedProjectMarker'>
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Contact Information</h4>
            </div>
            <div class="col-md-6">
              <input type="button" value="View Profile" class="btn btn-outline-info btn-sm pull-right"
                [routerLink]="['/profile', clickedProjectMarker.builder.company_info.companySlug]" (click)="close()">
            </div>
          </div>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedProjectMarker.builder.company_info.company}}</p>
          <br/>
          <h4 class="card-title">Project Information</h4>
          <hr class="mb-1 mt-0" />
          <p class="card-text mb-0">{{clickedProjectMarker.address}} {{clickedProjectMarker?.address2}}</p>
          <p class="card-text"> {{clickedProjectMarker.city}}, {{clickedProjectMarker.province}} {{clickedProjectMarker.postalCode}}</p>
          <p class="card-text mb-0">
            <b>Land Size:</b> {{clickedProjectMarker.lotSize}}</p>
          <p class="card-text mb-0">
            <b>Building Size:</b> {{clickedProjectMarker.buildingSize}}</p>
          <p class="card-text mb-0">
            <b>Number of Units:</b> {{clickedProjectMarker.numUnits}} </p>
          <p class="card-text mb-0">
            <b>Zoning:</b> {{clickedProjectMarker.zoning}}</p>
          <p class="card-text mb-0">
            <b>Proposed Use:</b> {{clickedProjectMarker.landType}}</p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</ng-template>