<div class="d-flex ml-2 pb-2 flex-row">

</div>

<div class="container">
  <div class="row card-header-custom hidden-sm-down pt-4 pb-3">

    <div class="col-md-8">

    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="card-group w-100">
    <div class="col-md-4 mr-md-0 pl-md-4">
      <div class="card h-100 ">
        <div class="card-block ">
          <div class="hidden-md-up">
            <h4 class="card-title center">Projects</h4>
            <hr/>
          </div>
          <div class="center">
            <div class="mb-1"></div>
            <div class="text-center mt-2 mb-2">
              <h6 class="card-subtitle mb-2 text-muted lead">Active</h6>
              <hr/>

              <ng-container *ngxPermissionsOnly="['subcontractor']">
                <ng-container *ngIf="!hasProjects && !hasNots">
                  <br/>
                  <small class="text-justify" [style.color]="'red'">You don't currently have any projects assigned to you. Once a Builder accepts your Quote you will see projects
                    here!
                  </small>
                  <br/>
                  <br/>
                </ng-container>
              </ng-container>
            </div>
            <!-- <div class="btn-group-lg pr-3 pl-3" *ngFor="let project of projects?.data;">
              <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" [routerLink]="['/', 'projects', project.id, 'project-details']"
                (click)="onGotoProject(project)">
                {{project.address}}
              </button>
            </div> -->
            <div class="btn-group-lg pr-3 pl-3" *ngFor="let project of activeProjects;">
              <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" [routerLink]="['/', 'projects', project.projectID, 'project-details']">
                {{project.company_info.address}}
              </button>
            </div>
          </div>
          <div class="center">
            <div class="mb-1"></div>
              <div class="text-center mt-2 mb-2">
              <!-- <h6 class="card-subtitle mb-2 text-muted lead">Warranty</h6>
              <hr/>-->
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="hidden-md-up">
      <br/>
    </div>
    <div class="col-md-8">
      <div class="card h-100">
        <div class="card-block">
          <div class="hidden-md-up">
            <h4 class="card-title center">Dashboard</h4>
            <hr/>
          </div>

          <!--          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <span class="list-group-item">hi</span>
              </div>
              <div class="col-md-4">Ad 3</div>
            </div>
          </div>-->


          <ng-container *ngIf="!nots">
            <alert class="align-self-center" type="danger">You don't currently have any notifications</alert>
          </ng-container>

          <div class=" mt-lg-2" *ngFor="let not of (nots | keyObjectArrayPipe)">
            <ng-container *ngFor="let data of not.data">
              <h6 class="card-subtitle mb-2 text-muted lead">{{not.address}}</h6>
              <hr/>
              <div class="">
                <div class="row">
                  <ng-container *ngxPermissionsOnly="['subcontractor']">
                    <ng-container *ngIf="!hasProjects && !hasNots">
                      <br/>
                      <small class="mx-auto" [style.color]="'red'">You don't currently have any notifications. You will see notifications appear here once a builder accepts
                        your bid</small>
                      <br/>
                      <br/>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewMessageNotification'">
                    <div class="col-md-6">
                      <div class="list-group-item">
                        <span class="list-group-item justify-content-between mb-2" [routerLink]="['/projects', data.data.projectID, 'bids']" [queryParams]="{ tab: 'new-bbo' }"
                          skipLocationChange>
                          You have New Quotes
                          <span class="badge badge-default badge-pill float-right">{{data.count ? data.count + 1: '1'}}</span>
                        </span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewSCBONotification'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2" [routerLink]="['/projects', data.data.projectID, 'bids']" [queryParams]="{ tab: 'new-bbo' }"
                        skipLocationChange>
                        You have New Quotes
                        <span class="badge badge-default badge-pill float-right my-auto">{{data.count ? data.count + 1: '1'}}</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewBBONotification'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2" [routerLink]="['/bids', 'all']" skipLocationChange>
                        You have New Bids
                        <span class="badge badge-default badge-pill float-right my-auto">{{data.count ? data.count + 1: '1'}}</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'App\\Notifications\\BuilderAcceptedBidNotification'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2" [routerLink]="['/bids', 'all']" [queryParams]="{ tab: 'builder-accepted' }"
                        skipLocationChange>
                        Accepted Bids
                        <span class="badge badge-default badge-pill float-right my-auto">{{data.count ? data.count + 1: '1'}}</span>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data.type == 'NoNotifications'">
                    <div class="col-md-6">
                      <div class="list-group-item  justify-content-between mb-2">
                        You have no new Notifications
                      </div>
                    </div>
                  </ng-container>

                </div>
              </div>
            </ng-container>


            <hr/>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<div class="row mt-2">
  <div class="card-group w-100">
    <div class="col-md-4 mr-md-0 pl-md-4" *ngxPermissionsOnly="['subcontractor']">
      <ng-container *ngTemplateOutlet="scBidTypeTemplate;">
      </ng-container>
    </div>
    <div class="col-md-8" *ngxPermissionsOnly="['subcontractor']">
      <ng-container *ngTemplateOutlet="scBidsTemplate;">
      </ng-container>
    </div>
  </div>
</div>

<ng-template #scBidTypeTemplate>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Bid Type</h4>
      <div class="center">
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('accepted')">Accepted Bids</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('renegotiated')">Renegotiated Bids</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('all-in')">Bid Requests</button>
        <button type="button" class="dashboardButtons btn btn-outline-success btn-lg btn-block" (click)="onChangeBidType('all-out')">Bids Out to Builder</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #scBidsTemplate>
  <div class="card h-100">
    <div class="card-block">
      <h4 class="card-title center">Bids</h4>
      <ul class="list-unstyled">
        <div class="mt-5 pt-3" *ngIf="!bids">
          <alert type="danger">No bids found</alert>
        </div>
        <div *ngFor="let bid of bids" class="mt-3">
          <li class="media">
            <a [routerLink]="['/profile', bid.company_info.userID]">
              <img class="d-flex mr-3 align-self-center imgLogo" [src]="storageURL + bid.company_info.logoURL" width="180" height="150" alt="Generic placeholder image">
            </a>
            <div class="media-body">
              <h5>
                <a class="mt-0 mb-1" [routerLink]="['/profile', bid.company_info.userID]">{{bid.company_info.company}}</a>
              </h5>
              <small class="text-justify align-self-center pt-1">
                <!-- {{bid.company_info.address}} {{bid.company_info.address2}} {{bid.company_info.city}}, {{bid.company_info.province}} -->
                <br/>
              </small>
              <br/>
              <small *ngIf="bid.status == 'accepted'" style="color: green;">The Quote was accepted by the Builder on {{bid.builder_accepted_at | amDateFormat:'MMMM Do YYYY'}}</small>
              <small *ngIf="bid.builderAccepted == 0" style="color: red;">The Quote was rejected by the Builder on {{bid.builder_rejected_at | amDateFormat:'MMMM Do YYYY' }}</small>
              <small *ngIf="bid.bbo_scViewed == 0">
                <strong>This Bid is unread. It was sent on {{bid.b_created_at | amDateFormat:'MMMM Do YYYY' }}</strong>
              </small>
              <div class="btn-toolbar btn-block mt-3">
                <button *ngIf="!bid.scboID" type="button" class="btn btn-outline-success mr-1" [routerLink]="['/projects', bid.projectID, 'bid', bid.id, 'subproject', bid.subprojectID]">View Project Info</button>
                <button *ngIf="!bid.scboID" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID, 'bids', bid.id, 'sc', 'quote']">Veiw Estimate</button>
                <button *ngIf="bid.scboID" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID, 'bids', bid.id, 'sc', 'quote']">Edit Quote</button>
                <button *ngIf="bid.bboID != null &&  bid.bidAcceptedSCBOID != null" type="button" class="btn btn-outline-success mr-2" [routerLink]="['/projects', bid.projectID , 'accounting', bid.accountingID, 'invoice']">View Invoice</button>
                <button type="button" class="btn btn-outline-success" [routerLink]="['/projects', bid.projectID,  'chat', bid.chatUUID]">Message</button>
              </div>
            </div>
          </li>
        </div>
        <hr>
      </ul>
    </div>
    <div *ngIf="bids?.next_page_url" class="card-footer d-flex justify-content-center pr-md-1 pr-md-1">
      <div class="row">
        <div class="col-xs-8 col-8 col-md-8">
          <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="1" [maxSize]="maxSize"
            (pageChanged)="onBidPageChanged($event)" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--<app-modal  #childModal [title]="'common modal'">-->
<!--</app-modal>-->
