
.card-header-custom {
  border-radius: .25rem .25rem 0 0;
  /*padding: .75rem 1.25rem;*/
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
.card-header-custom + .card-group > .card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card-footer-custom {
  border-radius: 0 0 .25rem .25rem;
  /*padding: 0.75rem 1.25rem;*/
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-top: none;
}

.card-footer-custom + .card-group > .card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.panel-relative{
  position: relative;
}
.btn-right{
  position: absolute;
  right: 15px;
}

.center {
  text-align: center;
}
img.logo-no-resize {
  height: 150px !important;
  width:  250px !important;
}



.edit-image {
  position: absolute;
  bottom: 27px;
  left: 23px;
  display: none;
}

.profile-image:hover .edit-image  {
  display: block;
}

.delete-image {
  position: absolute;
  bottom: 27px;
  right: 37px;
  display: none;
}


.profile-image:hover .delete-image {
  display: block;
}


.fa-pencil-square-o  {
  color: yellow;
}

.fa-trash-o {
  color: red;
}

img.no-resize {
  height: 230px;
  width:  230px;
}
.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
  border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
  border-right-width: 1px;
}


@media(min-device-width: 368px) and (max-width: 767px) {

  .edit-image {
    left: 100px;
    display: block;
  }

  .delete-image {
    right: 100px;
    display: block;
  }

}

@media (min-width: 768px) and (max-width: 929px) {
  .edit-image {
    left: 30px;
    display: block;
  }

  .delete-image {
    right: 30px;
    display: block;
  }
}





