<div class="row mt-3">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h3>{{bidData[0]?.company}}</h3>
        <address>
          {{bidData[0]?.address}} <br/>
          {{bidData[0]?.address2}} <br/>
          {{bidData[0]?.city}}, {{bidData[0]?.province}} {{bidData[0]?.postalCode}} <br/>
          {{bidData[0]?.phoneNumber}}
        </address>

      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="text-md-right">
          <h5>Bill To: </h5>
          <address>
            <strong>{{builderInfo?.company}}</strong> <br/>
            {{builderInfo?.address}} <br/>
            {{builderInfo?.address2}} <br/>
            {{builderInfo?.city}}, {{builderInfo?.province}} {{builderInfo?.postalCode}} <br/>
            {{builderInfo?.phoneNumber}}
          </address>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">

        <div class="text-md-left">
          <strong>INVOICE</strong>
          <br/>
          <ng-container *ngIf="bidData[0]?.scbo_created_at">Date Sent: {{bidData[0]?.scbo_created_at | amDateFormat:'LL'}}</ng-container>
        </div>

      <div *ngIf="lineData[0]?.builderAccepted == 1" class="mt-2">
        <small style="color: green;">The bid was accepted by the Builder on {{lineData[0]?.builder_accepted_at | amDateFormat:'MMMM Do YYYY'}}</small>
      </div>
        <div *ngIf="lineData[0]?.builderAccepted == 0" class="mt-2">
          <small style="color: red;">The bid was rejected by the Builder on {{lineData[0]?.builder_rejected_at | amDateFormat:'MMMM Do YYYY'}}</small>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="text-md-right">
          <h5>Project Details:</h5>

          <address>
            {{projectData?.firstName}} {{projectData?.lastName}} <br/>
            {{projectData?.address}} {{projectData?.address2}}<br>
            {{projectData?.city}}, {{projectData?.province}} {{projectData?.postalCode}}
          </address>
          <dl class="row">
            <!--<dt class="col-sm-8">Name:</dt>
            <dd class="col-sm-4">{{projectData?.firstName}} {{projectData?.firstName}}</dd>

            <dt class="col-sm-8">Address:</dt>
            <dd class="col-sm-4">
              <address>
                {{projectData?.address}} {{projectData?.address2}}<br>
                {{projectData?.city}}, {{projectData?.province}} {{projectData?.postalCode}}<br>
              </address>
            </dd>-->

            <dt class="col-sm-9">Land Size:</dt>
            <dd class="col-sm-3">{{projectData?.lotSize}}</dd>

            <dt class="col-sm-9">Building Size:</dt>
            <dd class="col-sm-3">{{projectData?.buildingSize}}</dd>

            <dt class="col-sm-9">Number of Units</dt>
            <dd class="col-sm-3">{{projectData?.numUnits}}</dd>

            <dt class="col-sm-9">Zoning:</dt>
            <dd class="col-sm-3">{{projectData?.zoning}}</dd>

            <dt class="col-sm-9">Project Value:</dt>
            <dd class="col-sm-3">{{projectData?.buildValue}}</dd>

            <dt class="col-sm-9">Project Type:</dt>
            <dd class="col-sm-3">{{projectData?.projectType}}</dd>

            <ng-container>
              <dt class="col-sm-9">Details:</dt>
              <dd class="col-sm-12">{{projectData?.details}}</dd>
            </ng-container>
            <dt class="col-sm-9">Description:</dt>
            <dd class="col-sm-12">{{projectData?.description}}</dd>

            <dt class="col-sm-9">Bid Details:</dt>
            <dd class="col-sm-12 ">{{projectData?.bidAdditionalDetails}}</dd>
          </dl>
        </div>
        <div *ngxPermissionsOnly="['subcontractor']" class="d-flex justify-content-end button-group">

          <button class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', projectData?.id, 'bids', bidData[0]?.bidID, 'view', lineData[0]?.bboID]">Bid Info and Uploads</button>
          <!--<button *ngIf="projectData?.accountingID" class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', projectID , 'accounting', projectData.accountingID, 'invoice']">View Invoice</button>-->
        </div>
        <div *ngxPermissionsOnly="['builder']" class="d-flex justify-content-end button-group">
          <button class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', projectID, 'bids', projectData?.bidID, 'view', projectData?.bboID]">Bid Info and Uploads</button>
          <button class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', projectID, 'project-details']">Project Details</button>
          <!--<button *ngIf="projectData?.accountingID" class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/projects', projectID , 'accounting', projectData.accountingID, 'invoice']">View Invoice</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template  #uomTT>UoM: Unit of Measurement (i.e. Each, Pieces, Hours, Gallons)</ng-template>
<div class="table-responsive mt-3">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th [tooltip]="uomTT" placement="auto">UoM</th>
      <th>Tax</th>
      <th>Total</th>
      <th *ngxPermissionsOnly="['subcontractor']">Edit/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lineItem of lineData;" [ngClass]="{'deleted':lineItem.deleted === 1}">
      <td>{{lineItem.name}}</td>
      <td class="text"><span>{{lineItem.description}}</span></td>
      <td>{{lineItem.price | currency : 'CAD' : true : '1.2'}}</td>
      <td>{{lineItem.quantity}}</td>
      <td>{{lineItem.uom}}</td>
      <td>{{lineItem.lineTaxTotal | currency : 'CAD' : true : '1.2'}}</td>
      <td>{{lineItem.lineTotal | currency : 'CAD' : true : '1.2'}}</td>
      <td *ngxPermissionsOnly="['subcontractor']"><button type="button" class="btn btn-warning float-left" (click)="onShowEditItemModal(lineItem, editLineItemModal)">
        <span class="fa fa-pencil" aria-hidden="true" ></span></button>
        <button type="button" class="btn btn-danger float-right" (click)="onDeleteLineItem(lineItem)">
          <span class="fa fa-trash" aria-hidden="true" ></span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col float-left" *ngxPermissionsOnly="['subcontractor']">
    <button type="button" class="btn btn-outline-success" (click)="onShowLineItemModal(addLineItemModal)">
      <span class="fa fa-plus" aria-hidden="true"></span>
      Add Item
    </button>
  </div>

  <div *ngIf="!bidData[0]?.scboID && !showInvoiceTotal" class="col text-right">
    <strong>Sub Total: </strong> $0.00 <br>
    <strong>Tax Total: </strong> $0.00 <br>
    <strong>Grand Total: </strong> $0.00 <br>
  </div>

  <div *ngIf="bidData[0]?.scboID || showInvoiceTotal"  class="col text-right">
    <strong>Sub Total: </strong> {{subTotal | currency : 'CAD' : true : '1.2'}} <br>
    <strong>Tax Total: </strong> {{taxTotal | currency : 'CAD' : true : '1.2'}} <br>
    <strong>Grand Total: </strong> {{grandTotal | currency : 'CAD' : true : '1.2'}} <br>
  </div>
</div>

<!--<input type="button" class="btn btn-block btn-outline-success" value="Add new line item" (click)="onShowLineItemModal(addLineItemModal)">-->
<div class="row mt-3" *ngxPermissionsOnly="['subcontractor']">
  <ng-template *ngIf="!lineData.length" #submitButtonTT>You must add at least one item</ng-template>
  <div class="col float-left">
    <label for="comments">Notes/Comments:</label>
    <div class="form-group">
      <textarea class="form-control" [(ngModel)]="comments" id="comments" maxlength="500"></textarea>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-outline-success float-right" type="button" (click)="onSubmitBid()"
            [disabled]="!lineData.length" [tooltip]="submitButtonTT">Submit
    </button>
  </div>
</div>
<div class="row mt-3" *ngxPermissionsOnly="['builder']">
  <div class="col float-left">
    <label for="comments">Notes/Comments:</label>
    {{comments}}
  </div>
  <div class="col">
    <button class="btn btn-outline-success float-right" type="button" (click)="onAcceptBid()">Accept</button>
    <button class="btn btn-outline-danger float-right mr-3" type="button" (click)="onRejectBid()">Reject</button>
  </div>
</div>
<!--------------------------------ADD LINE ITEM MODAL------------------------------------>
<ng-template #addLineItemModal>
<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-group" [formGroup]="bidForm" (ngSubmit)="onSaveLineItem(bidForm.value)">

    <div class="form-group col-md-12">
      <label for="description">Name:</label>
      <div class="form-group col-md-8">
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div>

    <div *ngIf="bidForm.controls.name.invalid && submitAttempt" class="validation">
      <p>Enter a valid item name</p>
    </div>

    <div class="form-group col-md-12">
      <label for="description">Price:</label>
      <div class="form-group col-md-8">
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
    </div>

    <div *ngIf="bidForm.controls.price.invalid && submitAttempt" class="validation">
      <p>Enter a valid item name</p>
    </div>

    <div class="form-group col-md-12">
      <label for="quantity">Quantity:</label>
      <div class="form-group col-md-8">
        <input type="number" #quantity  name="quantity" class="form-control" id="quantity" formControlName="quantity">
      </div>
    </div>

    <div *ngIf="bidForm.controls.quantity.invalid && submitAttempt" class="validation">
      <p>Enter a valid item name</p>
    </div>

    <div class="form-group col-md-12">
      <label for="uom">UoM:</label>
      <div class="form-group col-md-8">
        <input type="text"  name="uom" class="form-control" id="uom" formControlName="uom" placeholder="Unit of Measurement">
        <small id="uomInline" class="text-muted">
          Unit of Measurement (i.e. Each, Pieces, Gallons)
        </small>
      </div>
    </div>

    <div *ngIf="bidForm.controls.uom.invalid && submitAttempt" class="validation">
      <p>Enter a valid UoM</p>
    </div>

    <div class="form-group col-md-12" style="margin-top: 10px !important;">
      <label for="tax">Tax</label>
      <div class="form-group col-md-8">
        <select #tax id="tax" name="tax" class="form-control" formControlName="tax" [(ngModel)]="taxRate">
          <option value="0.07">GST</option>
          <option value="0.05">HST</option>
          <option value="0.12">GST/HST</option>
        </select>
      </div>
    </div>

    <input type="text" [value]="tax.value" formControlName="taxRate" name="taxRate" class="form-control" id="taxRate"  hidden readonly>

    <div *ngIf="taxRequired && submitAttempt" class="validation">
      <p>You must select a tax rate</p>
    </div>

    <div class="form-group col-md-12">
      <label for="description">Description:</label>
      <div class="form-group col-md-8">
        <textarea class="form-control" id="description" formControlName="description" maxlength="250"></textarea>
      </div>
    </div>

    <div *ngIf="bidForm.controls.description.invalid && submitAttempt" class="validation">
      <p>Enter a valid Description</p>
    </div>


    <div class="mt-2 text-right">
      <dl class="row text-right">
        <dt class="col-sm-3">Sub Total:</dt>
        <dd class="col-sm-9">{{lineSubTotal | currency : 'CAD' : true : '1.2'}}</dd>
        <dt class="col-sm-3">Tax Total:</dt>
        <dd class="col-sm-9">{{lineTaxTotal | currency : 'CAD' : true : '1.2'}}</dd>
        <dt class="col-sm-3">Grand Total:</dt>
        <dd class="col-sm-9">{{lineTotal | currency : 'CAD' : true : '1.2'}}</dd>
      </dl>
    </div>

    <input type="text" [(ngModel)]="lineSubTotal" name="lineSubTotal" class="form-control" id="lineSubTotal" formControlName="lineSubTotal" hidden readonly>
    <input type="text" [(ngModel)]="lineTaxTotal" name="lineTaxTotal" class="form-control" id="lineTaxTotal" formControlName="lineTaxTotal" hidden readonly>
    <input type="text" [(ngModel)]="lineTotal" name="lineTotal" class="form-control" id="lineTotal" formControlName="lineTotal" hidden readonly>


    <button class="btn btn-block btn-outline-success float-right" type="submit">Save</button>
  </form>
</div>
</ng-template>

<!------------------------------------------------EDIT LINE ITEM MODAL--------------------------------------------------------->
<ng-template #editLineItemModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-group" [formGroup]="bidForm" (ngSubmit)="onEditLineItem(bidForm.value)">

      <div class="form-group col-md-12">
        <label for="description">Name:</label>
        <div class="form-group col-md-8">
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
      </div>

      <div *ngIf="bidForm.controls.name.invalid && submitAttempt" class="validation">
        <p>Enter a valid item name</p>
      </div>

      <div class="form-group col-md-12">
        <label for="description">Price:</label>
        <div class="form-group col-md-8">
          <input type="number" class="form-control" id="price" formControlName="price">
        </div>
      </div>

      <div *ngIf="bidForm.controls.price.invalid && submitAttempt" class="validation">
        <p>Enter a valid price (must be numeric)</p>
      </div>

      <div class="form-group col-md-12">
        <label for="quantity">Quantity:</label>
        <div class="form-group col-md-8">
          <input type="number" #quantity  name="quantity" class="form-control" id="quantity" formControlName="quantity">
        </div>
      </div>

      <div *ngIf="bidForm.controls.quantity.invalid && submitAttempt" class="validation">
        <p>Enter a valid quantity (must be numeric)</p>
      </div>

      <div class="form-group col-md-12">
        <label for="uom">UoM:</label>
        <div class="form-group col-md-8">
          <input type="text"  name="uom" class="form-control" id="uom" formControlName="uom" placeholder="Unit of Measurement">
          <small id="uomInline" class="text-muted">
            Unit of Measurement (i.e. Each, Pieces, Gallons)
          </small>
        </div>
      </div>

      <div *ngIf="bidForm.controls.uom.invalid && submitAttempt" class="validation">
        <p>Enter a valid UoM</p>
      </div>

      <div class="form-group col-md-12" style="margin-top: 10px !important;">
        <label for="tax">Tax</label>
        <div class="form-group col-md-8">
          <select #tax id="tax" name="tax" class="form-control" formControlName="tax" [(ngModel)]="taxRate">
            <option value="0.07">GST</option>
            <option value="0.05">HST</option>
            <option value="0.12">GST/HST</option>
          </select>
        </div>
      </div>

      <input type="text" [value]="tax.value" formControlName="taxRate" name="taxRate" class="form-control" id="taxRate"  hidden readonly>

      <div *ngIf="taxRequired && submitAttempt" class="validation">
        <p>You must select a Tax Rate</p>
      </div>

      <div class="form-group col-md-12">
        <label for="description">Description:</label>
        <div class="form-group col-md-8">
          <textarea class="form-control" id="description" formControlName="description" maxlength="250"></textarea>
        </div>
      </div>

      <div *ngIf="bidForm.controls.description.invalid && submitAttempt" class="validation">
        <p>Enter a valid Description</p>
      </div>


      <div class="mt-2 text-right">
        <dl class="row text-right">
          <dt class="col-sm-3">Sub Total:</dt>
          <dd class="col-sm-9">{{lineSubTotal | currency : 'CAD' : true : '1.2'}}</dd>
          <dt class="col-sm-3">Tax Total:</dt>
          <dd class="col-sm-9">{{lineTaxTotal | currency : 'CAD' : true : '1.2'}}</dd>
          <dt class="col-sm-3">Grand Total:</dt>
          <dd class="col-sm-9">{{lineTotal | currency : 'CAD' : true : '1.2'}}</dd>
        </dl>
      </div>

      <input type="text" [(ngModel)]="lineSubTotal" name="lineSubTotal" class="form-control" id="lineSubTotal" formControlName="lineSubTotal" hidden readonly>
      <input type="text" [(ngModel)]="lineTaxTotal" name="lineTaxTotal" class="form-control" id="lineTaxTotal" formControlName="lineTaxTotal" hidden readonly>
      <input type="text" [(ngModel)]="lineTotal" name="lineTotal" class="form-control" id="lineTotal" formControlName="lineTotal" hidden readonly>

      <button class="btn btn-block btn-outline-success float-right" type="submit">Save</button>
    </form>
  </div>
</ng-template>
