<app-navbar></app-navbar>

<div class="container mt-3">

  <h1>Change Log</h1>
  <hr/>
  <h1>Jan 23</h1>
  <li>Fixed bug where you couldn't register on new database</li>
  <li>Add alert to dashboard that you don't have any projects so its not so plain on first login (can remove if you dont like it)</li>
  <li>Added building type to new projects page</li>
  <li>Fix subcontractors listings page width</li>
  <li>add border to sc listings page</li>
  <hr/>
  <h1>Jan 22</h1>
  <li>Finished Dashboard</li>
  <li>Finished Project files page</li>
  <li>Send email after builder makes payment</li>
  <li>Send email after sc updates payment as recieved/not recieved</li>
  <hr/>
  <h1>Jan 21</h1>
  Note: Didnt have time to test if emails are being sent out on live server.
  <li>Email sent out when SC Quote accepted by builder to SC</li>
  <li>Email sent out when SC Quote accepted by builder saying they have a new invoice</li>
  <li>Mark builder bid out as read once they visit the page</li>
  <li>Mark SC invoice as read</li>
  <li>mark chat as read</li>
  <li>Changed registeration pg. Couldnt read rgb values is it (14, 143, 67)?</li>
  <li>You are now signed out if you go back to the login page</li>
  <li>Change bid tab depending on the type of notification you click on</li>
  <li>changed navbar to line on login & sign up pages</li>
  <li>changed builder bid out form/view bbo</li>
  <hr/>
  <h1>Jan 15</h1>
  <li>Changed navbar</li>
  <li>Added All invoices button</li>
  <li>Tab pills now change background color on hover</li>
  <li>Project details text changed, moved to the right, border added around text as requested.</li>
  <li>Added edit/delete buttons when hovering over profile pics</li>
  <li>Changed subcontractor listings page (Note if you dont like any of the icons you can find one you like here: http://fontawesome.io/icons/</li>
  <li>Trade text on SC listings page</li>
  <li>Rearranged bid form page</li>
  <li>Rearranged invoice page</li>
  <li>Only show trades that builder bids have been sent out for</li>
  <li>Add name of company you are chatting with to top of chat page</li>
  <br/>
  <li></li>
  <hr/>
  <h4>LOG INS</h4>
  <ol>
    <li>Password for all: Testing1!</li>
    <li>builder@builder.com</li>
    <li>architect@architect.com</li>
    <li>plumber@plumber.com</li>
  </ol>
</div>
