<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="col-md-12">
    <div class="card h-100 mb-0">
      <div class="card-block">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item last-breadcrumb">{{projectData.address}} {{projectData.address2 ? projectData.address2 : ''}}</li>
        </ol>
        <hr>
        <div class="pb-0 ml-3">
          <h3 class="breadcrumb-title">Project Files</h3>
          <small class="text-muted text-justify">
            These are the project files for your project. All folders below are saving information regarding this specific project.
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-md-4 pr-md-4 mt-2">
  <div class="col-md-4">
    <div class="card">
      <div class="card-block">
        <h5 class="card-title center" style="text-align: center;">Project Folders</h5>
        <div class="center mr-2 ml-2">
          <div class="btn-group-lg">
            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'subcontractors']">Subcontractors</button>

            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block">Suppliers</button>

            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block" 
              [routerLink]="['../', 'accounting', 'for-project']">Accounting</button>

            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block" 
              [routerLink]="['../', 521 ,'invoice']">Estimates</button>

            <button *ngxPermissionsOnly="['subcontractor']" type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block"
              [routerLink]="['../', 'uploads']">Uploads</button>

            <button type="button" class="btnProjectFiles btn btn-outline-success btn-lg btn-block" 
              [routerLink]="['../', 'messages']">Messages</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card h-100">
      <div class="card-block">
        <h5 class="card-title center">Project Details</h5>

        <div class="form-group col-md-12">
          <label for="firstName" class="label-name">Name:</label>
          <div class="form-inline">
            <div class="form-group col-md-12">
              <input type="text" id="firstName" class="form-control mx-sm-3 col-md-8" [(ngModel)]="projectData.firstName + ' ' + projectData.lastName"
                readonly>
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="firstName" class="label-name">Address:</label>
          <div class="form-group col-md-8">
            <input type="text" id="address" class="form-control mx-sm-12" [(ngModel)]="projectData.address + ' ' + projectData.address2"
              readonly>
          </div>
          <div class="form-group col-md-8">
            <input type="text" id="address2" class="form-control mx-sm-12" [(ngModel)]="projectData.postalCode + ' ' + projectData.city + ', ' + projectData.province + ' ' + projectData.country"
              readonly>
          </div>
        </div>


        <div class="form-group col-md-8">
          <div class="row">
            <div class="form-group col">
              <label class="mb-1 label-name">Land Type:</label>
              <input type="text" id="city" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.landType" readonly>
            </div>

            <div class="form-group col">
              <label class="mb-1 label-name">Project Type:</label>
              <input type="text" id="province" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.projectType" readonly>
            </div>
          </div>
        </div>

        <div class="form-group col-md-8">
          <div class="row">
            <div class="form-group col">
              <label class="label-name">Lot Size:</label>
              <input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.lotSize" readonly>
            </div>

            <div class="form-group col">
              <label class="label-name">Building Size:</label>
              <input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.buildingSize" readonly>
            </div>

            <div class="form-group col">
              <label class="label-name">Num of Units:</label>
              <input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.numUnits" readonly>
            </div>

          </div>
        </div>

        <div class="form-group col-md-8">
          <div class="row">
            <div class="form-group col">
              <label class="mb-1 label-name">Zoning:</label>
              <input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.zoning" readonly>
            </div>

            <div class="form-group col">
              <label class="mb-1 label-name">Build Value:</label>
              <input type="text" class="form-control mx-sm-12 ml-3" [(ngModel)]="projectData.buildValue" readonly>
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label for="projectDescription" class="label-name">Project Description:</label>
          <div class="form-group col-md-8">
            <textarea class="form-control" id="projectDescription" [(ngModel)]="projectData.description" readonly></textarea>
          </div>
        </div>


        <div class="form-group col-md-8">
          <label for="details" class="form-control-label label-name">Project Details:</label>
          <div class="form-group">
            <textarea class="form-control" id="details" [(ngModel)]="projectData.details" readonly></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 pl-md-5 ml-md-3">
            <ng-container *ngxPermissionsOnly="['builder']">
              <ng-container *ngFor="let not of (nots | keyObjectArrayPipe)">
                <ng-container *ngFor="let data of not.data">
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewSCBONotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count}} new&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../bids']">{{data.count > 1 ? 'Quotes' : 'Quote'}}</a>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewMessageNotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count ? data.count : '1'}} unread&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../messages']"> {{data.count > 1 || data.count != '' ? 'Messages' : 'Message'}}</a>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngxPermissionsOnly="['subcontractor']">
              <ng-container *ngFor="let not of (nots | keyObjectArrayPipe)">
                <ng-container *ngFor="let data of not.data">
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewBBONotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count ? data.count : '1'}} new&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../bids']">{{data.count > 1 || data.count == '' ? 'Bids In' : 'Bid In'}}</a>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="data.type == 'App\\Notifications\\NewMessageNotification'">
                    <div class="alert alert-warning row center">
                      <p class="close" data-dismiss="alert">&times;</p>
                      You have {{data.count ? data.count : '1'}} unread&nbsp;
                      <a href="#" (click)="$event.preventDefault();" [routerLink]="['../messages']"> {{data.count > 1 || data.count == '' ? 'Messages' : 'Message'}}</a>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>