@media(min-width: 976px) {
  dl {
    /*text-align: right;*/
  }

  dl > dt {
    text-align: left;

  }

  dl > dd {
    /*text-align: left;*/
    /*margin: 0 !important;
    padding: 0 !important;*/
    margin: 0 !important;
    padding: 0 !important;
    /*margin-bottom: 0 !important;*/
    /*padding-bottom: 0 !important;*/
  }

}
