<div bsModal #newProjectModal="bs-modal"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Start a new Project</h4>
        <button type="button" class="close pull-right" (click)="bsModalRef.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" [formGroup]="newProjectForm" (ngSubmit)="onSubmit(newProjectForm.value)">
          <div class="form-group col-md-12">
            <label for="firstName">Name:</label>
            <div class="form-inline">
              <div class="form-group">
                <input type="text" id="firstName" class="form-control mx-sm-3" placeholder="First Name" formControlName="firstName">
                <input type="text" id="lastName" class="form-control mx-sm-3" placeholder="Last Name" formControlName="lastName">
              </div>
            </div>
          </div>
          <div *ngIf="newProjectForm.controls.firstName.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid First Name</p>
          </div>
          <div *ngIf="newProjectForm.controls.lastName.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Last Name</p>
          </div>

          <div class="form-group col-md-12">
            <label for="firstName">Address:</label>
            <div class="form-group col-md-8">
              <input type="text" id="address" class="form-control mx-sm-12" placeholder="Street Address" formControlName="address">
            </div>
            <div class="form-group col-md-8">
              <input type="text" id="address2" class="form-control mx-sm-12" placeholder="Street Address 2" formControlName="address2">
            </div>
            <div class="form-inline">
              <div class="form-group col-md-4">
                <input type="text" id="city" class="form-control mx-sm-12" placeholder="City" formControlName="city">
              </div>
              <div class="form-group col-md-4">
                <input type="text" id="province" class="form-control mx-sm-12" placeholder="Province" formControlName="province" readonly>
              </div>
            </div>
          </div>
          <div *ngIf="newProjectForm.controls.address.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Address</p>
          </div>
          <div *ngIf="newProjectForm.controls.address2.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Address Line Two</p>
          </div>
          <div *ngIf="newProjectForm.controls.city.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid City</p>
          </div>
          <div *ngIf="newProjectForm.controls.province.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Province</p>
          </div>

          <div class="form-inline" style="margin-left: 14px;">
            <div class="form-group col-md-4">
              <input type="text" id="postalCode" class="form-control mx-sm-12" placeholder="Postal Code" formControlName="postalCode" [textMask]="{mask: masks.postalCode}">
            </div>
            <div class="form-group col-md-4">
              <input type="text" id="country" class="form-control mx-sm-12" placeholder="Country" formControlName="country" readonly>
            </div>
          </div>

          <div *ngIf="newProjectForm.controls.postalCode.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Postal Code</p>
          </div>
          <div *ngIf="newProjectForm.controls.country.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Country</p>
          </div>

          <div class="form-group col-md-12">
            <label for="lotSize">Project Description:</label>
            <div class="form-group col-md-8">
              <textarea class="form-control" id="projectDescription" formControlName="description"></textarea>
            </div>
          </div>

          <div *ngIf="newProjectForm.controls.description.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Description</p>
          </div>

          <div class="form-group col-md-12" style="margin-top: 10px !important;">
            <label for="landType">Land Type:</label>
            <div class="form-group col-md-8">
              <select id="landType" name="landType" class="form-control" formControlName="landType" required>
                <option value="residental">Residential</option>
                <option value="commercial">Commercial</option>
                <option value="industrial">Industrial</option>
              </select>
            </div>
          </div>

          <div *ngIf="newProjectForm.controls.landType.invalid && submitAttempt" class="ml-4 validation">
            <p>Select a Land Type</p>
          </div>

          <div class="form-group col-md-12" style="margin-top: 10px !important;">
            <label for="projectType">Project Type:</label>
            <div class="form-group col-md-8">
              <select id="projectType" name="projectType" class="form-control" formControlName="projectType" required>
                <option value="newBuilding">New Building</option>
                <option value="landlordImprovements">Landlord improvements</option>
                <option value="addition">Addition</option>
                <option value="renovation">Renovation</option>
              </select>
            </div>
          </div>

          <div *ngIf="projectTypeInvalid && submitAttempt" class="ml-4 validation">
            <p>Please select a Project Type</p>
          </div>

          <div class="form-group col-md-12">
            <label for="lotSize">Lot Size: (sq. ft)</label>

            <div class="form-group col-md-8">
              <input type="text" class="form-control" id="lotSize" formControlName="lotSize" [textMask]="{mask: masks.sizeMask}">
            </div>
          </div>

          <div *ngIf="newProjectForm.controls.lotSize.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Lot Size</p>
          </div>

          <div class="form-group col-md-12">
            <label for="buildingSize">Building Size: (sq. ft)</label>

            <div class="form-group col-md-8">
              <input type="text" class="form-control" id="buildingSize" formControlName="buildingSize" [textMask]="{mask: masks.sizeMask}">
            </div>
          </div>

          <div *ngIf="newProjectForm.controls.buildingSize.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Building Size</p>
          </div>

          <div class="form-group col-md-12">
            <label for="buildingSize">Number of units</label>
          <div class="form-group col-md-8">
            <input type="number" class="form-control" id="numUnits" formControlName="numUnits">
          </div>
          </div>
          <div *ngIf="newProjectForm.controls.numUnits.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid number for Number of units</p>
          </div>

          <div class="form-group col-md-12" style="margin-top: 10px !important;">
            <label for="firstName">Building Type:</label>
            <div class="form-group col-md-8">
              <select name="buildingType" class="form-control" formControlName="buildingType" required>
                <option value="Town Home">Town Home</option>
                <option value="Condo">Condo</option>
                <option value="Building">Building</option>
              </select>
            </div>
          </div>

          <div *ngIf="buildingTypeInvalid && submitAttempt" class="ml-4 validation">
            <p>You must select a Building Type</p>
          </div>


          <div class="form-group col-md-12" style="margin-top: 10px !important;">
            <label for="firstName">Zoning:</label>
            <div class="form-group col-md-8">
              <select name="zoning" class="form-control" formControlName="zoning" required>
                <option value="New Building">New Building</option>
                <option value="Landlord Imporvements">Landlord Improvements</option>
                <option value="Addition">Addition</option>
                <option value="Renovation">Renovation</option>
              </select>
            </div>
          </div>

          <div *ngIf="zoningInvalid && submitAttempt" class="ml-4 validation">
            <p>You must select a Zoning Type</p>
          </div>


          <div class="form-group col-md-8">
            <label for="firstName">Build Value:</label>
            <div class="form-inline">
              <div class="form-group">
                <input type="text" id="buildValue" class="form-control mx-sm-3" placeholder="Build Value" formControlName="buildValue" [textMask]="{mask: masks.buildValue, modelClean: true}" >
              </div>
            </div>
          </div>


          <div class="form-group col-md-8">
            <label for="details" class="form-control-label">Project Details:</label>
            <div class="form-group">
              <textarea class="form-control" id="details" formControlName="details"></textarea>
            </div>
          </div>

          <div *ngIf="newProjectForm.controls.details.invalid && submitAttempt" class="ml-4 validation">
            <p>Enter a valid Project Details</p>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>

          <button type="submit" class="btn btn-outline-success">Save</button>
        </div>
        </form>
      </div>
      </div>
  </div>

