<app-sidebar *ngIf="!bodyBorder">
</app-sidebar>

<div [ngClass]="
  {
      'nothing' : bodyBorder,
      'page-container' : !bodyBorder,
      'is-collapsed-menu': app.layout.isMenuCollapsed,
      'is-opened-menu': !app.layout.isMenuCollapsed
  }">

  <app-topbar *ngIf="!bodyBorder"></app-topbar>

  <router-outlet></router-outlet>
</div>
