
<div class="body-page">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7">
          <h3>{{bboData[0]?.bci_company}}</h3>
          <address>
            {{bboData[0]?.bci_address}} <br/>
            <ng-container *ngIf="bboData[0]?.bci_address2"> {{bboData[0]?.bci_address2}} <br/></ng-container>
            {{bboData[0]?.bci_city}}, {{bboData[0]?.bci_province}} {{bboData[0]?.bci_postalCode}} <br/>
            {{bboData[0]?.bci_phoneNumber}}
          </address>
        </div>
        <ng-container *ngIf="!newBid">
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="text-md-right">
             <ng-container *ngxPermissionsOnly="['subcontractor']">
               <h3>{{bboData[0]?.sci_company}}</h3>
               <address>
                 {{bboData[0]?.sci_address}} <br/>
                 <ng-container *ngIf="bboData[0]?.sci_address2"> {{bboData[0]?.sci_address2}} <br/></ng-container>
                 {{bboData[0]?.sci_city}}, {{bboData[0]?.sci_province}} {{bboData[0]?.sci_postalCode}} <br/>
                 {{bboData[0]?.sci_phoneNumber}}
               </address>
             </ng-container>
              <ng-container *ngIf="newBid || viewing"><strong *ngxPermissionsOnly="['builder']">Your Bid Out for {{sctInfo.tradeName}}'s</strong></ng-container>
              <ng-container *ngIf="!newBid && !viewing"><strong *ngxPermissionsOnly="['builder']">Your Bid Out</strong></ng-container>
              <br/>
              <ng-container *ngIf="!newBid && !viewing">Date Sent: {{bboData[0]?.bbo_created_at | amDateFormat:'LL'}} <br/></ng-container>
              <ng-container *ngIf="newBid || viewing">Date Created: {{bboData[0]?.created_at | amDateFormat:'LL'}} <br/></ng-container>
              <ng-container *ngIf="bboData[0]?.scbo_builderAccepted == 1">
                <small [style.color]="'green'">This bid was accepted by the Builder on {{bboData[0]?.scbo_builderAcceptedAt | amDateFormat:'LL'}}
                </small>
                <br/>
              </ng-container>
              <ng-container *ngIf="bboData[0]?.scbo_builderAccepted == 0">
                <small [style.color]="'red'">This bid was rejected the Builder on {{bboData[0]?.scbo_builderRejectedAt | amDateFormat:'LL'}}
                </small>
                <br/>
              </ng-container>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="newBid">
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="text-md-right">
              <ng-container *ngIf="!newBid && !viewing">
                <h5>Bid Out form For: </h5>
                <address>
                  <strong class="mt-3">{{bboData[0]?.sci_company}}</strong> <br/>
                  {{bboData[0]?.sci_address}} <br/>
                  <ng-container *ngIf="bboData[0]?.sci_address2"> {{bboData[0]?.sci_address2}} <br/></ng-container>
                  {{bboData[0]?.sci_city}}, {{bboData[0]?.sci_province}} {{bboData[0]?.sci_postalCode}} <br/>
                  {{bboData[0]?.sci_phoneNumber}}
                </address>
              </ng-container>
              <ng-container *ngIf="newBid || viewing">
                <h5>Recipient:</h5>
                <address>
                  <strong class="mt-3 ml-2">{{sctInfo.tradeName}}'s</strong> <br/>
                </address>
              </ng-container>
              <strong>Builder Bid Out form for {{sctInfo.tradeName}}'s</strong> <br/>
              <small>Date: {{date | amDateFormat: 'LL'}}</small>
            </div>
          </div>
        </ng-container>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7">

        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 ">

        </div>
      </div>
      <br/>
      <div class="h-100">
        <div class="col-md-9 mx-auto">
          <ul class="list-group">
            <li class="list-group-item row pt-4 pb-3" style="background-color: black !important; color: white;">
              <h4>Property Overview</h4>
            </li>
            <li class="list-group-item row">
              <div class="col-md-4">Project Address:</div>
              <div class="col-md-5">
                  {{bboData[0]?.projectAddress}}
                  <ng-container *ngIf="bboData[0]?.projectAddress2">{{bboData[0]?.projectAddress2}}</ng-container>
                  {{bboData[0]?.projectCity}}, {{bboData[0]?.projectProvince}} {{bboData[0]?.projectPostalCode}}
              </div>

            <li class="list-group-item row">
              <div class="col-md-4">Land Type:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectLandType}}
              </div>
            </li>

            <li class="list-group-item row">
              <div class="col-md-4">Project Type:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectProjectType}}
              </div>
            </li>

            <li class="list-group-item row">
              <div class="col-md-4">Lot Size:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectLotSize}}
              </div>
            </li>


            <li class="list-group-item row">
              <div class="col-md-4">Zoning:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectZoning}}
              </div>
            </li>

            <li class="list-group-item row">
              <div class="col-md-4">Building Size: (per unit)</div>
              <div class="col-md-5">
                {{bboData[0]?.projectBuildingSize}}
              </div>
            </li>

            <li class="list-group-item row">
              <div class="col-md-4">Number of Units:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectNumUnits}}
              </div>
            </li>

            <li class="list-group-item row">
              <div class="col-md-4">Project Value:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectBuildValue}}
              </div>
            </li>

            <li class="list-group-item row">
              <div class="col-md-4">Project Details:</div>
              <div class="col-md-5">
                {{bboData[0]?.projectDetails}}
              </div>
            </li>

          </ul>


        <div class="pt-5">
        <!--<br/>-->
          <ng-container *ngIf="!newBid">
          <h5 class="mb-3 mt-1">Uploaded Files:</h5>
          <div *ngIf="files[0];then filesExist else noFilesExist"></div>
          <ng-template #filesExist>
            <!--         <ul class="list-group">
                       <li class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between listItemLink" *ngFor="let file of files; let i = index;" >
                         <a (click)="onViewFile(file)">{{i}}. {{file.fileName}} </a>
                         &lt;!&ndash;<span class="pull-right button-group" (click)="deleteUploadedFile(i, file.id, file.fileName, filesArray)">
                                 <ng-template #deleteTooltip>Delete {{file.fileName}}</ng-template>
                                 <button *ngxPermissionsOnly="['builder']"  type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                             </span>&ndash;&gt;

                       </li>
                     </ul>-->
            <ul class="list-unstyled">
              <li class="mt-1 mb-1 pb-1 pt-1 justify-content-between listItemLink"
                  *ngFor="let file of files; let i = index;">
                <a (click)="onViewFile(file)">{{i+1}}. {{file.fileName}} </a>
                <!--<span class="pull-right button-group" (click)="deleteUploadedFile(i, file.id, file.fileName, filesArray)">
                        <ng-template #deleteTooltip>Delete {{file.fileName}}</ng-template>
                        <button *ngxPermissionsOnly="['builder']"  type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                    </span>-->

              </li>
            </ul>

          </ng-template>
          <ng-template #noFilesExist>
            <br/>
            <p>No Files have been uploaded for this bid</p>
          </ng-template>
          </ng-container>
          <ng-container *ngIf="newBid">
            <h5 class="mb-3">Bid Form:</h5>
            <form class="form-group" [formGroup]="newBidForm" (ngSubmit)="onSubmit(newBidForm.value)">
              <div class="form-group">
                <label for="file">Attach Files:</label>
                <div>
                  <label class="custom-file">
                    <input type="file" id="file" class="custom-file-input" (change)="fileSelected($event)">
                    <span class="custom-file-control"></span>
                  </label>
                </div>
              </div>
              <div *ngIf="filesToUpload.length">
                <h6 class="pb-2 pt-2">Files Selected:</h6>
                <ul class="list-group">
                  <li *ngFor="let file of filesToUpload; let i = index;" class="list-group-item mt-0 mb-0 pb-1 pt-1 justify-content-between">{{i+1}}. {{file.name}}
                    <ng-template #deleteTooltip>Delete {{file.name}}</ng-template>
                    <span class="pull-right button-group" (click)="deleteFile(i, file.name)">
                          <ng-template #deleteTooltip>Delete {{file.name}}</ng-template>
                          <button *ngxPermissionsOnly="['builder']"  type="button" class="btn btn-danger btn-xs fa fa-trash"></button>
                    </span>
                  </li>
                </ul>
              </div>
              <div class="form-group mt-4 pt-5">
                <label for="additionalDetails">Additional Details</label>
                <textarea class="form-control" id="additionalDetails" rows="3" formControlName="additionalDetails"></textarea>
              </div>
              <div class="row float-right mt-3">
                <div class="col-md-12">
                  <input type="submit" value="Submit" class="btn btn-block btn-outline-success btn-lg">
                </div>
              </div>
            </form>
          </ng-container>
        </div>
        </div>
      </div>
    </div>
    <div *ngIf="!newBid" class="row">
      <button *ngIf="bboData[0]?.scbo_builderAccepted == 1" type="button" class="btn btn-outline-success ml-2 mr-1"
              [routerLink]="['/projects', bboData[0].projectID, 'accounting', bboData[0].accountingID, 'invoice']">View
        Invoice
      </button>
      <ng-container *ngxPermissionsOnly="'[builder]'">
        <button *ngIf="bboData[0]?.scbo_builderAccepted == 0 || bboData[0]?.scbo_builderAccepted == null" type="button"
                class="btn btn-outline-success mr-1 ml-2"
                [routerLink]="['/projects', bboData[0].projectID, 'bids', bboData[0].bboID, 'builder', 'quote']">View
          Quote
        </button>
      </ng-container>
      <ng-container *ngxPermissionsOnly="'[subcontractor]'">
        <button *ngIf="bboData[0]?.scbo_builderAccepted == 0 || bboData[0]?.scbo_builderAccepted == null" type="button"
                class="btn btn-outline-success mr-1"
                [routerLink]="['/projects', bboData[0].projectID, 'bids', bboData[0].bboID, 'sc', 'quote']">View Quote
        </button>
      </ng-container>
    </div>

    <div *ngIf="newBid" class="row">

    </div>
  </div>
</div>
<!--  <div class="col float-left" *ngxPermissionsOnly="['subcontractor']">
  </div>-->


<!--<input type="button" class="btn btn-block btn-outline-success" value="Add new line item" (click)="onShowLineItemModal(addLineItemModal)">-->

<!--  <div class="col">
    <button class="btn btn-outline-success float-right" type="button">Accept</button>
    <button class="btn btn-outline-danger float-right mr-3" type="button">Reject</button>
  </div>-->






