
.logo{
  /*margin-top: 3vmin;
  margin-bottom: 4vmin;*/
}

.login {
  margin-top: 9.5vmin !important;
  text-align: right;
}

.loginText {
  color: gray !important;
  font-size: 16px;
}

.navbar-hr {
  background-color: #57b436;
  border: 0 none;
  color: #57b436;
  height: 8px;
}

@media(max-width: 976px){
  .navbar {
    margin-bottom: 2vmin;
    background: #57b436 !important;
    height: 70px;
  }

  .navbar-collapse {
    background: #57b436;
  }



  /*.navbar-nav > li:first-child {
    margin-top: 50px !important;
  }*/

}


@media(min-width: 976px){
  .navbar {
    width: 100% !important;
    min-width: 100% !important;
    margin-top: 5px;
    /*margin-bottom: 3.5vmin;*/
    background: #57b436 !important;
    height: 35px;
  }


  .nav.navbar-nav > li{
  border-right: 2px solid white;
  width: 150px;
  max-width: 150px;
  text-align: center;
  }

  .border-left {
  border-left: 2px solid white;
  }

  .no-border-right {
    border-right: none !important;
  }

  ul.nav a:hover, ul.nav, ul.nav { color: black; }
  /*!*ul.nav a:hover, ul.nav a:focus, ul.nav a:active { color: white; }*!*/

}

