<div class="w-100">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card" *ngIf='project'>
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Contact Information</h4>
          </div>
          <div class="col-md-6">
            <input type="button" value="View Profile" class="btn btn-outline-info btn-sm pull-right" [routerLink]="['/profile', project.builder.company_info.companySlug]" (click)="close()">
          </div>
        </div>
        <hr class="mb-1 mt-0" />
        <p class="card-text mb-0">{{project.builder.company_info.company}}</p>
        <p class="card-text mb-0">{{project.phoneNumber}}</p>
        <p class="card-text mb-0">{{project?.phoneNumber2}}</p>
        <br/>
        <h4 class="card-title">Project Information</h4>
        <hr class="mb-1 mt-0" />
        <p class="card-text mb-0">{{project.address}} {{project?.address2}}</p>
        <p class="card-text"> {{project.city}}, {{project.province}} {{project.postalCode}}</p>
        <p class="card-text mb-0">
          <b>Land Size:</b> {{project.lotSize}}</p>
        <p class="card-text mb-0">
          <b>Building Size:</b> {{project.buildingSize}}</p>
        <p class="card-text mb-0">
          <b>Number of Units:</b> {{project.numUnits}} </p>
        <p class="card-text mb-0">
          <b>Zoning:</b> {{project.zoning}}</p>
        <p class="card-text mb-0">
          <b>Proposed Use:</b> {{project.landType}}</p>
        <br/>
        <h4 class="card-title">Subproject Information</h4>
        <hr class="mb-1 mt-0" />
        <p class="card-text mb-0">
          <b>Description:</b>
          <br>{{description}}</p>
        <p class="card-text mb-0">
          <b>Home Builders Guide:</b> {{stepName}}</p>
        <hr class="mb-2 mt-1" />
        <div class="row float-right mt-2" *ngIf="!fromRedMarker">
          <div class="col-md-12">
            <input type="button" [value]="buttonTitle" class="btn btn-block btn-outline-success btn-lg" (click)='invoicePage(project.id, subproject_id)'>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>