.listItemLink {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.listItemLink:hover {
  text-decoration:none;
}

.listItemLink:visited {
  color: purple;
}

.deleteButton {
  cursor: default;
  text-decoration:none !important;
  font-size: 1px;
  color: white;
}

.request-bid.modal-dialog {
  pointer-events: auto !important;
}
.request-bid h4.card-title {
  color: #789e66;
}