<div class="row pl-md-4 pr-md-4 mt-5">
  <div class="card h-100 mb-0">
    <div class="card-block ">
      <div class="col-md-12 p-0">
        <ol class="breadcrumb mt-1 ">
          <li class="breadcrumb-item active">
            <strong>Projects</strong>
          </li>
          <li class="breadcrumb-item active">
            <a [routerLink]="['../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}</a>
          </li>
          <li class="breadcrumb-item last-breadcrumb">
            <a>Subcontractors</a>
          </li>
        </ol>
        <hr>
        <div class="pb-0 ml-3 ">
          <h3 class="text-title color-green">Subcontractors</h3>
          <small class="text-muted text-justify">
            Here you can find Subcontractors to work on your project. You may find subcontractors through the home builders guide or by viewing all trades. The home building guide is a step by step process for building a basic home, designed to help the project manager stay organized and focused on the project. 
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-md-4 pr-md-4 mt-2">
  <div class="card h-100" style="width: 100%">
    <div class="card-block ">
      <tabset type="pills justify-content-center">
        <tab heading="All Trades">
          <ng-template *ngTemplateOutlet="subcontractors"></ng-template>
        </tab>
      </tabset>


      <ng-template #subcontractors>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <table class="table" datatable>
              <thead>
                <tr>
                  <th class="col-t-desc">
                    <p>Description</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let step of subprojects?.data">
                  <ng-container *ngIf="step.hbg.is_trade == 0">
                    <tr>

                      <td class="col-t-desc">
                        <h4>
                          <a [routerLink]="['view', step.hbg.sctID, step.hbg.id]">
                            {{step.hbg.stepName}}
                          </a>
                        </h4>
                        <p>
                          {{step.hbg.stepDescription}}
                        </p>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>



      <ng-template #homeBuildersGuide>

        <div class="row">
          <div class="col-xs-12 col-md-12">
            <ul class="list-unstyled align-content-center">
              <div *ngFor="let step of hbg">
                <li class="media my-4">
                  <div class="d-flex align-self-center mr-3 nums2">
                    {{step.stepNum}}
                  </div>
                  <div class="media-body">
                    <h5>
                      <a class="mt-0 mb-1" [routerLink]="['view', step.sctID]">{{step.stepName}}</a>
                    </h5>
                    <p class="text-justify align-self-center">
                      {{step.stepDescription}}
                    </p>
                  </div>
                </li>
                <hr/>
              </div>
            </ul>
          </div>
        </div>

      </ng-template>
    </div>
  </div>
</div>
