<br>
<br>
<div class="social">
    <div class="container-fluid">
        <div class="social-cover card">
            <div class="cover-img overlay-dark bg" [ngStyle]="{'background': backgroundImage? ('url(' + profileStorageURL + backgroundImage.fileURL + ')') : 'url(\'assets/images/social/social-2.jpg\')'}">
                <div class="cover-content">
                    <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
                        <h1 class="no-mrg-btm" *ngIf='profileInfo'>{{profileInfo.company}}</h1>
                        <p *ngIf='profileInfo.trade_info'> {{profileInfo.trade_info.subcontractor_trades.tradeName}}</p>
                    </div>
                    <div class="row mrg-top-15">
                    </div>
                </div>
            </div>
            <div class="cover-footer">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="" [routerLink]="['/profile-photos']">Photos</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pb-5">
            <div *ngFor="let upload of profileUploads; let index=index" class="col-lg-3 col-md-4 col-xs-6 mb-3">
                <a class="d-block mb-2" (click)="onViewImage(viewImageModal, upload, index)" style="text-align: center">
                    <img *ngIf="upload.fileURL" class="rounded no-resize img-thumbnail" [src]='profileStorageURL+upload.fileURL'>
                    <img *ngIf="!upload.fileURL" class="rounded no-resize img-thumbnail" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #viewImageModal>
    <div class="modal-header">
        <h4 class="modal-title mx-auto">{{profileInfo.company}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <div class="text-center">
                <img *ngIf="!image.fileURL" class="img-fluid" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
                <img *ngIf="image.fileURL" class="img-fluid" [src]='profileStorageURL+image.fileURL'>
            </div>
        </div>
    </div>
</ng-template>