.actions .btn-sm {
    padding: 3px 5px !important;
    margin: 0px !important;
}

.logo-img {
    width: 80px !important;
    margin-left: 10px !important;
    border-radius: 10px;
    height: 50px !important;
}

.customClass {
    background-color: #009688;
}

.text-inverse {
    list-style: none;
    padding-left: 0;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    unicode-bidi: bidi-override;
    direction: rtl;
}