<div class="container-fluid mt-5">
	<div class="container">
		<div class="card">
			<div class="pdd-vertical-5 pdd-horizon-10 border bottom print-invisible">
				<ul class="list-unstyle list-inline text-right">
					<li class="list-inline-item">
						<a href="" class="btn text-gray text-hover display-block padding-10 no-mrg-btm" onclick="window.print();">
							<i class="ti-printer text-info pdd-right-5"></i>
							<b>Print</b>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="" class="text-gray text-hover display-block padding-10 no-mrg-btm">
							<i class="fa fa-file-pdf-o text-danger pdd-right-5"></i>
							<b>Export PDF</b>
						</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="pdd-horizon-30">
					<div class="row mrg-top-10">
						<div class="col-md-12">
							<h2 class="pull-right">ESTIMATE</h2>
						</div>
					</div>
					<div class="row mrg-top-15">
						<div class="col-md-12 col-sm-12">
							<div class="inline-block" *ngIf="subcontractorProfile">
								<img class="logo-img" *ngIf="subcontractorProfile.logoURL" [src]='profileStorageURL+subcontractorProfile.logoURL'>
								<address class="pdd-left-10 mrg-top-20" alt="logo">
									<b class="text-dark">
										{{ subcontractorProfile.company }}
									</b>
									<br>
									<span> {{ subcontractorProfile.address }} </span>
									<ng-container *ngIf=" subcontractorProfile?.address2">
										<br />
										<span>{{ subcontractorProfile.address2}}</span>
									</ng-container>
									<br>
									<span> {{ subcontractorProfile.city }} </span>
									<br>
									<abbr class="text-dark" title="Phone">Phone:</abbr>
									<span> {{ subcontractorProfile.phoneNumber ? subcontractorProfile.phoneNumber : subcontractorProfile.phoneNumber2}}</span>
								</address>
							</div>
							<div class="pull-right mrg-top-70">
								<!-- <h2>Project Infomation</h2>
								<hr> -->
								<b class="text-dark pull-right">
									{{ subcontractorProfile.company }}
								</b>
								<br>
								<ul style="list-style:none; padding-left:0; text-align: right;">
									<li>{{projectData.address}}</li>
									<li>{{projectData.city}}, {{projectData.province}} {{projectData.postalCode}}</li>
								</ul>
								<ul class="text-inverse mrg-top-20">
									<li>
										<strong>Land Size: </strong>{{projectData.lotSize}}</li>
									<li>
										<strong>Building Size: </strong>{{projectData.buildingSize}}</li>
									<li>
										<strong>Number of Units: </strong>{{projectData.numUnits}}</li>
									<li>
										<strong>Zoning: </strong>{{projectData.zoning}}</li>
									<li>
										<strong>Proposed Use: </strong>{{projectData.buildingType}}</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row mrg-top-20">
						<div class="col-md-9 col-sm-9" *ngIf="projectData">
							<h3 class="pdd-left-10">Estimate For:</h3>
							<address class="pdd-left-10" *ngIf="projectData.builder && projectData.builder.company_info">
								<a class="mr-auto pl-1 btn-normal-size" [routerLink]="['/profile', projectData.builder.company_info.companySlug]">
									<b class="text-dark">
										{{ projectData.builder.company_info.company }}
									</b>
								</a>
								<br>
								<span> {{ projectData.builder.company_info.address }}</span>
								<ng-container *ngIf="projectData.builder.company_info?.address2">
									<br />
									<span>{{projectData.builder.company_info.address2}}</span>
								</ng-container>
								<br>
								<span> {{ projectData.builder.company_info.city }} </span>
							</address>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="mrg-top-80">
								<div class="text-dark text-uppercase inline-block">
									<b>Estamite No:</b>
								</div>
								<div class="pull-right">#1668</div>
							</div>
							<div class="">
								<div class="text-dark text-uppercase inline-block">
									<b>Date :</b>
								</div>
								<div class="pull-right">25/6/2017</div>
							</div>
						</div>
					</div>
					<div class="row mrg-top-20">
						<div class="col-md-12">
							<table class="table table-hover table-striped">
								<thead>
									<tr class="d-flex">
										<th class="col-1"></th>
										<th class="col-5">Items</th>
										<th class="col-1">Quantity</th>
										<th class="col-1">Price</th>
										<th class="text-right col-2">Total</th>
										<th class="col-2"></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let bidsLineItem of bidsLineItems; let i = index;" class="d-flex">
										<td class="col-1">{{i+1}}</td>
										<td class="col-5">
											{{bidsLineItem.details}}
										</td>
										<td class="col-1">{{bidsLineItem.quantity}}</td>
										<td class="col-1">{{bidsLineItem.price}}</td>
										<td class="text-right col-2">
											{{bidsLineItem.quantity * bidsLineItem.price}}
										</td>
										<td class="text-right align-middle actions col-2">
											<span *ngIf="!bidsLineItem.details || !bidsLineItem.quantity || !bidsLineItem.price" popover="Please fill out all fields"
											 containerClass="customClass" triggers="" #pop placement="left">
											</span>
											<button class="btn btn-outline-primary btn-sm" (click)="editItem(i, bidsLineItem, modalAddItem)">
												<i class="fa fa-edit"></i> edit
											</button>
											<button class="btn btn-outline-danger btn-sm" (click)="removeItem(i)">
												<i class="fa fa-remove"></i> remove
											</button>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="row mrg-top-10">
								<div class="col-md-12">
									<div class="pull-right text-right">
										<input type="button" class="btn btn-outline-success btn-sm" value="Add Item" (click)="addItem(modalAddItem)">
									</div>
								</div>
							</div>
							<div class="row mrg-top-30">
								<div class="col-md-12">
									<div class="pull-right text-right">
										<!-- <p>Sub - Total amount: $2,325</p>
										<p>vat (10%) : $232 </p>
										<hr> -->
										<h3>
											<b>Total :</b> ${{total}}</h3>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group mt-2">
										<label for="comment">Comments</label>
										<textarea class="form-control" id="comment" rows="3" [(ngModel)]="bid.comments"></textarea>
									</div>
								</div>
							</div>
							<div class="row mrg-top-30">
								<div class="col-md-12 mrg-top-10">
									<div class="text-center">
										<input type="button" class="btn btn-outline-success" value="Submit" (click)="submit()">
									</div>
								</div>
								<div class="col-md-12">
									<div class="border top bottom pdd-vertical-20">
										<p class="text-opacity">
											<small>In exceptional circumstances, Financial Services can provide an urgent manually processed special cheque. Note,
												however, that urgent special cheques should be requested only on an emergency basis as manually produced cheques
												involve duplication of effort and considerable staff resources. Requests need to be supported by a letter explaining
												the circumstances to justify the special cheque payment.</small>
										</p>
									</div>
								</div>
							</div>
							<div class="row mrg-vertical-20">
								<div class="col-md-6">
								</div>
								<div class="col-md-6 text-right">
									<small>
										<b>Phone:</b> (123) 456-7890</small>
									<br>
									<small>support@themenate.com</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #modalAddItem>
	<div class="w-100">
		<div class="modal-header">
			<h4 class="modal-title pull-left">Add Item</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="closeAddItem()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="card">
				<div class="card-block">
					<div class="form-group">
						<label for="quantity">Quantity</label>
						<input type="number" class="form-control" [(ngModel)]="newItem.quantity" />
					</div>
					<div class="form-group">
						<label for="price">Price</label>
						<input type="text" class="form-control" [(ngModel)]="newItem.price" [textMask]="{mask: masks.amount, modelClean: true}" />
					</div>
					<hr class="mb-1 mt-0" />
					<p class="card-text mb-1 pull-right" *ngIf="newItem.quantity && newItem.price">
						Total: {{ totalNewItem }}
					</p>
					<div class="form-group mt-5">
						<label for="description">Description</label>
						<textarea class="form-control" id="description" rows="3" [(ngModel)]="newItem.details"></textarea>
					</div>
					<div class="row float-right mt-2">
						<div class="col-md-12">
							<button type="button" class="btn btn-primary pull-right" (click)="closeAddItem()">No</button>
							<button type="button" class="btn btn-default pull-right" popover="You need to input all fields" outsideClick="true" (click)="confirmAddItem()">Yes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>