.breadcrumb {
		padding: 0px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}


.last-breadcrumb{
	font-weight: bold;
}

// .breadcrumb-item.active {
// 	color: #3b286e;
// }



// .breadcrumb-title {
// 	color: #3b286e;
// }
