<br>
<br>
<div class="social">
  <div class="container-fluid">
    <div class="social-cover card">
      <div class="cover-img overlay-dark bg" [ngStyle]="{'background': backgroundImage? ('url(' + profileStorageURL + backgroundImage.fileURL + ')') : 'url(\'assets/images/social/social-2.jpg\')'}">
        <div class="cover-content">
          <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
            <h1 class="no-mrg-btm" *ngIf='profileInfo'>{{profileInfo.company}}</h1>
            <p *ngIf='profileInfo.trade_info'> {{profileInfo.trade_info.subcontractor_trades.tradeName}}</p>
          </div>
          <div class="row mrg-top-15">
          </div>
        </div>
      </div>
      <div class="cover-footer">
        <ul class="list-unstyled">
          <li>
            <a href="" [routerLink]="['/profile', 'photo', companySlug]">Photos</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="widget-profile-1 card">
          <div class="profile border bottom">
            <img *ngIf="logo.fileURL" class="mrg-top-30" [src]='profileStorageURL+logo.fileURL' alt="" style="width: 100%;">
            <img *ngIf="!logo.fileURL" class="mrg-top-30" src="assets/images/Tractonel_Enterprise_logo.png" alt="" style="width: 100%;">
            <h4 class="mrg-top-20 no-mrg-btm text-semibold" *ngIf="profileInfo.company">
              {{profileInfo.company}}
            </h4>
            <h4 class="mrg-top-20 no-mrg-btm text-semibold" *ngIf="!profileInfo.company">Tractionel Enterprises</h4>
            <p *ngIf='profileInfo.trade_info'> {{profileInfo.trade_info.subcontractor_trades.tradeName}}</p>
          </div>
          <div class="pdd-horizon-30 pdd-vertical-20">
            <h5 class="text-semibold mrg-btm-5">About</h5>
            <p *ngIf="!profileInfo.aboutUs">There is no description</p>
            <p *ngIf="profileInfo.aboutUs">
              {{profileInfo.aboutUs}}
            </p>
            <div class="mrg-top-30 text-center">
              <ul class="list-unstyle list-inline">
                <li class="list-inline-item no-pdd-horizon">
                  <a href="{{profileInfo?.facebookURL}}" class="btn btn-facebook btn-icon btn-rounded" target="_blank">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item no-pdd-horizon">
                  <a href="{{profileInfo?.twitterURL}}" class="btn btn-twitter btn-icon btn-rounded" target="_blank">
                    <i class="ti-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item no-pdd-horizon">
                  <a href="{{profileInfo?.googlePlusURL}}" class="btn btn-google-plus btn-icon btn-rounded" target="_blank">
                    <i class="ti-google"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <!-- <div class="social-feeds">
          <div class="card widget-compose">
            <ul class="composor-tools border bottom">
              <li>
                <a href="">
                  <i class="ti-image text-info pdd-right-5"></i>
                  <span>Attachments</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="ti-face-smile text-warning pdd-right-5"></i>
                  <span>Emoticon</span>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="ti-location-pin text-success pdd-right-5"></i>
                  <span>Location</span>
                </a>
              </li>
            </ul>
            <textarea class="form-control" placeholder="What's in your mind?"></textarea>
          </div>
        </div> -->
        <div class="card widget-feed" *ngFor="let postInfo of postsInfo; let i=index">
          <div class="feed-header">
            <ul class="list-unstyled list-info">
              <li>
                <img *ngIf="postInfo.user && postInfo.user.company_info && postInfo.user.company_info.logoURL" class="thumb-img img-circle"
                  [src]='profileStorageURL+postInfo.user.company_info.logoURL' alt="">
                <img *ngIf="!logo.fileURL" class="thumb-img img-circle" src="assets/images/Tractonel_Enterprise_logo.png" alt="">
                <div class="info">
                  <a href="" class="title no-pdd-vertical text-semibold inline-block">{{postInfo.user.company_info.company}}</a>
                  <span class="sub-title">
                    <i class="ti-timer pdd-right-5"></i>
                    <span>{{postInfo.ago}}</span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="feed-body">
            <p> {{postInfo.post}} </p>
          </div>
          <!-- <ul class="feed-action border bottom">
            <li>
              <a href="">
                <i class="ti-heart text-danger pdd-right-5"></i>
                <span>168</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="ti-comments text-primary pdd-right-5"></i>
                <span>18</span>
              </a>
            </li>
          </ul>
          <div class="feed-footer">
            <div class="comment">
              <ul class="list-unstyled list-info">
                <li class="comment-item">
                  <img class="thumb-img img-circle" src="assets/images/social/small-logo.jpg" alt="">
                  <div class="info">
                    <a href="" class="title no-pdd-vertical text-semibold inline-block">Gulf Builder LTD</a>
                    <span class="sub-title inline-block pull-right">
                      <i class="ti-timer pdd-right-5"></i>
                      <span>6 min ago</span>
                    </span>
                    <p class="width-80">I would recommend Tractional enterprises, their work was neat, they were on time and did their job well
                    </p>
                  </div>
                </li>
                <li class="comment-item">
                  <img class="thumb-img img-circle" src="assets/images/social/small-logo-2.jpg" alt="">
                  <div class="info">
                    <a href="" class="title no-pdd-vertical text-semibold inline-block">Qlik</a>
                    <span class="sub-title inline-block pull-right">
                      <i class="ti-timer pdd-right-5"></i>
                      <span>3 min ago</span>
                    </span>
                    <p class="width-80">Eric from Tractional enterprises was knowledgeable and professional. All the wire work was done in a
                      very organized and neat way. He kept the work place tidy with no wire cuttings or mess left behind.
                      Good job mate. </p>
                  </div>
                </li>
              </ul>
              <div class="add-comment">
                <textarea rows="1" class="form-control" placeholder="Add comment"></textarea>
              </div>
            </div>
          </div> -->
        </div>
        <div class="card widget-food" *ngIf="postsInfo.length === 0">
          <alert type="info" class="m-0 p-5">
            contractor has not posted any posts as yet
          </alert>
        </div>
      </div>
    </div>
  </div>
</div>