<div class="authentication">
	<div class="sign-in-2">
		<div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/img-30.jpg')">
			<div class="row">
				<div class="col-md-10 mr-auto ml-auto">
					<div class="row">
						<div class="mr-auto ml-auto full-height height-100">
							<div class="vertical-align full-height">
								<div class="table-cell">
									<div class="card">
										<div class="card-body">
											<div class="pdd-horizon-30 pdd-vertical-30">
												<div class="mrg-btm-30">
													<img class="img-responsive inline-block" src="assets/images/logo-new.jpg" alt="">
													<h2 class="inline-block pull-right no-mrg-vertical pdd-top-35">Login</h2>
												</div>
												<p class="mrg-btm-15 font-size-13">Please enter your user name and password to login</p>

												<form class="ng-pristine ng-valid" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
													<div class="form-group">
														<input type="hidden" id="userType" value="subcontractor" formControlName="userType">
													</div>
													<div class="form-group">
														<input type="email" id="email" formControlName="email" class="form-control" placeholder="User name">
													</div>
													<div class="form-group">
														<input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
													</div>
													<alert type="danger" *ngIf="errMessage">
														<strong>Oops!</strong> {{errMessage}}
													</alert>
													<div class="checkbox font-size-13 inline-block no-mrg-vertical no-pdd-vertical">
														<input id="agreement" name="agreement" type="checkbox">
														<label for="agreement">Keep Me Signed In</label>
													</div>
													<div class="pull-right">
														<a class="pull-left" [routerLink]="['/password/forgot']">Forgot password?</a>
													</div>
													<div class="form-group">
														<div class="pull-right">
															<div class="mrg-top-20 text-right">
																<button class="btn btn-outline-success">Login</button>
															</div>
														</div>
														<!-- <div class="pull-left">
															<div class="mrg-top-20 text-right">
																<a class="btn btn-outline-success pull-left" routerLink="/register">Sign Up</a>
															</div>
														</div> -->
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>