
<div class="container-fluid">
    <div class="page-title">
      <h4>Form Elements</h4>
      </div>
      <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-7">
                <h4 class="card-title">Basic inputs</h4>
                <form class="form-horizontal mrg-top-40 pdd-right-30">
                  <div class="form-group row">
                    <label for="form-1-1" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                                  <input type="text" class="form-control" id="form-1-1" placeholder="Name">
                                </div> 
                  </div>
                  <div class="form-group row">
                    <label for="form-1-2" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                                  <input type="password" class="form-control" id="form-1-2" placeholder="Password">
                                </div> 
                  </div>
                  <div class="form-group row">
                    <label for="form-1-3" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                                  <input type="email" class="form-control" id="form-1-3" placeholder="Email">
                                </div> 
                  </div>
                  <div class="form-group row">
                    <label for="form-1-4" class="col-md-2 control-label">Disabled Input</label>
                    <div class="col-md-10">
                                  <input type="text" class="form-control" id="form-1-4" placeholder="Disabled Input" disabled="disabled">
                                </div> 
                  </div>
                  <div class="form-group row">
                    <label for="form-1-5" class="col-md-2 control-label">Textarea</label>
                    <div class="col-md-10">
                                  <textarea class="form-control" rows="3" id="form-1-5"></textarea>
                                </div> 
                  </div>
                </form>
              </div>
              <div class="col-md-5">
                <h4 class="card-title">Input Size</h4>
                <p>Set the heights of input elements using classes like <code>.input-lg</code> and <code>.input-sm.</code></p>
                <div class="row mrg-top-20">
                  <div class="col-md-10">
                    <div class="form-group">
                      <input class="form-control input-sm" placeholder="input-sm" type="text">
                    </div>
                    <div class="form-group">
                      <input class="form-control" placeholder="input-default" type="text">
                    </div>
                    <div class="form-group">
                      <input class="form-control input-lg" placeholder="input-lg" type="text">
                    </div>
                  </div>
                </div>
                <h4 class="card-title">Input Groups</h4>
                <div class="row mrg-top-20">
                  <div class="col-md-10">
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i class="ti-agenda"></i></span>
                      <input id="text" type="text" class="form-control" placeholder="Input Group Addon">
                    </div>
                    <div class="form-group">
                      <div class="input-icon form-group">
                        <i class="ti-time"></i>
                        <input type="text" class="form-control m-b" placeholder="Input Group Addon inline">
                      </div>
                    </div>
                    <div class="form-group input-group">
                      <input type="text" class="form-control" placeholder="Input Group Button">
                      <div class=" input-group-addon">
                        <button class="btn" type="submit">
                          <i class="ti-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>    