<ng-container>
  <div class="row pl-md-4 pr-md-4 mt-5">
    <div class="col-md-12">
      <div class="card h-100 mb-0">
        <div class="card-block ">
          <ol class="breadcrumb mt-1 ">
            <li class="breadcrumb-item active">
              <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="['../../', 'project-details']">{{projectData?.address}} {{projectData?.address2 ? projectData?.address2 : ''}}Details</a>
            </li>
            <li class="breadcrumb-item">
              <a>Uploads</a>
            </li>
          </ol>
          <hr>
          <div class="pb-0 ml-3 ">
            <h3 class="text-title color-green">Uploads</h3>
            <small class="text-muted text-justify">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec felis ut nunc finibus fringilla pulvinar a tortor. Nam
              feugiat, lacus viverra bibendum interdum, turpis leo vulputate ante, vitae fringilla erat nisi in nisl. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div *ngxPermissionsOnly="['builder']">
  <div class="row">
    <div *ngFor="let file of files" class="col-lg-3 col-sm-3 col-xs-4 text-center mt-3">
      <div style="border: none !important;" class="img-thumbnail mb-4 text-center">
        <a class="d-block h-100 mb-2" (click)="onClickFile(file)">
          <img class="text-center" [src]="storageURL+file.iconURL" alt="{{file?.fileName}}" width="150" height="150">
        </a>
        <br class="mt-0 mb-0">
        <strong class="displayText text-center">{{file?.fileName}}</strong>
      </div>
    </div>
  </div>
</div>

<div *ngxPermissionsOnly="['subcontractor']">
  <div class="row">
    <div *ngFor="let file of files" class="col-lg-3 col-sm-3 col-xs-4 text-center mt-3">
      <div style="border: none !important;" class="img-thumbnail mb-4 text-center">
        <a class="d-block h-100 mb-2" (click)="onClickFile(file)">
          <img class="text-center" [src]="storageURL+'/public'+file.iconURL" alt="{{file?.fileName}}" width="150" height="150">
        </a>
        <br class="mt-0 mb-0">
        <strong class="displayText text-center">{{file?.fileName}}</strong>
      </div>
    </div>
  </div>
</div>