<div class="m-4">
  <div class="d-flex ml-2 pl-md-4  pb-2 flex-row mt-5">
    <div class="mr-auto">
    </div>
    <button type="button" class="btn btn-sm btn-outline-success btnProfile" [routerLink]="['/profile']">View my Profile</button>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
    <div class="row">
      <div class="col-md-6">
        <h6 class="mt-1 mb-1">Company Information</h6>
        <hr class="mt-0 pb-1" />
        <div class="form-group">
          <label for="company">Company Name</label>
          <input type="text" class="form-control col-md-8" id="company" tabindex="1" formControlName="company">
        </div>
        <div *ngIf="profileForm.controls.company.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Company name</p>
        </div>

        <div class="row">
          <div class="col">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" tabindex="2" formControlName="address">
          </div>
          <div class="col">
            <label for="address2">Address Line Two</label>
            <input type="text" class="form-control" id="address2" tabindex="3" formControlName="address2">
          </div>
        </div>

        <div *ngIf="profileForm.controls.address.invalid && submitAttempt" class="validation">
          <p>Please enter a valid address</p>
        </div>
        <div *ngIf="profileForm.controls.address2.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Address for line two</p>
        </div>

        <div class="row pt-1">
          <div class="col">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" tabindex="4" formControlName="city">
          </div>
          <div class="col">
            <label for="postalCode">Postal Code</label>
            <input type="text" class="form-control" id="postalCode" tabindex="5" formControlName="postalCode" [textMask]="{mask: masks.postalCode}">
          </div>


          <div class="col">
            <label for="province">Province</label>
            <input type="text" class="form-control" id="province" tabindex="6" formControlName="province" readonly>
          </div>
        </div>

        <div *ngIf="profileForm.controls.city.invalid && submitAttempt" class="validation">
          <p>Please enter a valid City</p>
        </div>
        <div *ngIf="profileForm.controls.postalCode.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Postal Code</p>
        </div>
        <div *ngIf="profileForm.controls.province.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Province</p>
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control col-md-8" id="phoneNumber" tabindex="7" formControlName="phoneNumber" name="phoneNumber"
            id="phoneNumber" [textMask]="{mask: masks.phoneNumber}">
        </div>

        <div *ngIf="profileForm.controls.phoneNumber.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Phone Number</p>
        </div>

        <h6 class="mt-1">Contact Information</h6>
        <hr class="mt-0 pb-1" />
        <div class="row">
          <div class="col">
            <label for="contactFirstName">Contacts First Name</label>
            <input type="text" class="form-control" id="contactFirstName" tabindex="8" formControlName="contactFirstName">
          </div>
          <div class="col">
            <label for="contactLastName">Contacts Last Name</label>
            <input type="text" class="form-control" id="contactLastName" tabindex="9" formControlName="contactLastName">
          </div>
        </div>

        <div *ngIf="profileForm.controls.contactFirstName.invalid && submitAttempt" class="validation">
          <p>Please enter a valid First Name</p>
        </div>
        <div *ngIf="profileForm.controls.contactLastName.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Last Name</p>
        </div>

        <div class="form-group">
          <label for="phoneNumber2">Contacts Phone Number</label>
          <input type="text" class="form-control col-md-8" id="phoneNumber2" tabindex="10" formControlName="phoneNumber2" [textMask]="{mask: masks.phoneNumber}">
        </div>

        <div *ngIf="profileForm.controls.phoneNumber2.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Phone Number</p>
        </div>

        <h6 class="mt-1">Logo</h6>
        <hr class="mt-0 pb-1" />
        <div class="row pb-3">
          <div class="col">
            <div style="border: none !important;" class="img-thumbnail  text-center">
              <a class="d-block h-100 mb-2" (click)="onViewImage(viewLogoModal, logo)">
                <img *ngIf="logo.fileURL" class="text-center logo-no-resize" [src]='profileStorageURL+logo.fileURL'>
                <img *ngIf="!logo.fileURL" class="text-center logo-no-resize" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
              </a>
            </div>
            <div class="text-center">
              <!--<input type="text" class="form-control" id="contactFirstName" tabindex="8" formControlName="contactFirstName">-->
              <button type="button" class="btn btn-outline-success" (click)="onClickUploadFile(logo)">Change Logo</button>
            </div>
          </div>
        </div>

        <!--COL-MD-8-->
      </div>
      <!----------------------------------------------------RIGHT COLUMN---------------------------------------------------------->
      <div class="col-md-6">
        <h6>Account Settings</h6>
        <hr class="mt-0 pb-0" />
        <a href="" (click)="$event.preventDefault(); onChangeEmail(changeEmailModal);">Update your Email</a>
        <br/>
        <a href="" (click)="$event.preventDefault(); onChangePassword(changePasswordModal);">Change your Password</a>

        <h6 class="pt-2">Website & Social Media</h6>
        <hr class="mt-0 pb-1" />
        <div class="label inputLabels">Website
          <span>
            <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(websiteURL.value);">Test</a>
          </span>
        </div>
        <input #websiteURL type="text" class="form-control" id="website" tabindex="16" formControlName="website">

        <div *ngIf="profileForm.controls.website.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for your Website</p>
        </div>
        <div class="row">
          <div class="col">
            <div class="label inputLabels">Twitter
              <span>
                <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(twitterURL.value);">Test</a>
              </span>
            </div>
            <input #twitterURL type="text" class="form-control" id="twitterURL" tabindex="12" formControlName="twitterURL">
          </div>
          <div class="col">
            <div class="label inputLabels">Facebook
              <span>
                <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(facebookURL.value);">Test</a>
              </span>
            </div>
            <!--<span ><small class="justify-content-end">test</small></span>-->
            <input #facebookURL type="text" class="form-control" id="facebookURL" tabindex="13" formControlName="facebookURL">
          </div>
        </div>

        <div *ngIf="profileForm.controls.twitterURL.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for Twitter</p>
        </div>
        <div *ngIf="profileForm.controls.facebookURL.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for Facebook</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="label inputLabels">Instagram
              <span>
                <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(instagramURL.value);">Test</a>
              </span>
            </div>
            <input #instagramURL type="text" class="form-control" id="instagramURL" tabindex="14" formControlName="instagramURL">
          </div>
          <div class="col">
            <div class="label inputLabels">Pinterest
              <span>
                <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(pinterestURL.value);">Test</a>
              </span>
            </div>
            <input #pinterestURL type="text" class="form-control" id="pinterestURL" tabindex="15" formControlName="pinterestURL">
          </div>
        </div>


        <div *ngIf="profileForm.controls.instagramURL.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for Instagram</p>
        </div>
        <div *ngIf="profileForm.controls.pinterestURL.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for Pinterest</p>
        </div>

        <div class="row">
          <div class="col">
            <div class="label inputLabels">Google Plus
              <span>
                <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(googlePlusURL.value);">Test</a>
              </span>
            </div>
            <input #googlePlusURL type="text" class="form-control" id="googlePlusURL" tabindex="16" formControlName="googlePlusURL">
          </div>
          <div class="col">
            <div class="label inputLabels">Youtube
              <span>
                <a href="" class="float-right mt-1 small" (click)="$event.preventDefault(); onTestURL(youtubeURL.value);">Test</a>
              </span>
            </div>
            <input #youtubeURL type="text" class="form-control" id="youtubeURL" tabindex="17" formControlName="youtubeURL">
          </div>
        </div>

        <div *ngIf="profileForm.controls.googlePlusURL.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for Google Plus</p>
        </div>
        <div *ngIf="profileForm.controls.youtubeURL.invalid && submitAttempt" class="validation">
          <p>Please enter a valid URL for Youtube</p>
        </div>


        <div class="row">
          <h6 class="ml-md-3" style="padding-top: 2vmin !important;">About Us</h6>
          <hr class="mt-0 mb-1" />
          <textarea id="aboutUs" class="form-control ml-md-3" name="aboutUs" rows="14" tabindex="18" formControlName="aboutUs" maxlength="2000"></textarea>
        </div>

        <div *ngIf="profileForm.controls.aboutUs.invalid && submitAttempt" class="validation">
          <p>Please enter a valid response for About Us (Max 2000 characters)</p>
        </div>

        <div class="d-flex flex-row">
          <button type="submit" class="btn btn-outline-success mt-3 align-self-end">Submit</button>
        </div>

        <!--COL-MD-6-->
      </div>
    </div>
  </form>

  <h6 class="pl-0 ml-0">Background Image</h6>
  <hr class="mt-1 mb-2" />
  <div class="row pb-5">
    <div class="col-md-12" *ngIf="backgroundImage">
      <a class="d-block mb-2 text-center" (click)="onViewImage(viewImageModal, backgroundImage)">
        <img *ngIf="backgroundImage.fileURL" class="rounded img-background img-thumbnail" [src]='profileStorageURL+backgroundImage.fileURL'>
        <img *ngIf="!backgroundImage.fileURL" class="rounded img-background img-thumbnail" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
      </a>
      <div>
        <input #imageInput type="file" (change)="onChooseImage($event)" hidden>
        <button type="button" class="float-left btn btn-sm btn-outline-success" (click)="onClickUploadFile(backgroundImage)">Choose Image</button>
        <button type="button" class="float-right btn btn-sm btn-outline-danger" (click)="onDeleteImage(backgroundImage)">Delete</button>
      </div>
    </div>
  </div>
  <h6 class="pl-0 ml-0">Images</h6>
  <hr class="mt-1 mb-2" />
  <!--<small class="pb-2">Click on the image thumbnail to add/update/delete</small>-->
  <div class="row pb-5">
    <div *ngFor="let upload of profileUploads; let index=index" class="col-lg-3 col-md-4 col-xs-6 mb-3">
      <a class="d-block mb-2" (click)="onViewImage(viewImageModal, upload, index)">
        <img *ngIf="upload.fileURL" class="rounded no-resize img-thumbnail" [src]='profileStorageURL+upload.fileURL'>
        <img *ngIf="!upload.fileURL" class="rounded no-resize img-thumbnail" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
      </a>
      <div>
        <input #imageInput type="file" (change)="onChooseImage($event)" hidden>
        <button type="button" class="float-left btn btn-sm btn-outline-success" (click)="onClickUploadFile(upload)">Choose Image</button>
        <button type="button" class="float-right btn btn-sm btn-outline-danger" (click)="onDeleteImage(upload)">Delete</button>
      </div>
    </div>
    <!--  <div class="col text-center">
    <carousel>
      <slide class="imgSlider" *ngFor="let upload of profileUploads;">
        <img class="no-resize" src="http://placehold.it/800x800" alt="" width="800" height="800">
      </slide>
    </carousel>
    <button type="button" class="btn btn-outline-success mt-3 text-center" (click)="onChangeImage('profile', upload)">Change This Picture</button>

  </div>-->

    <!--  <div class="col text-center">
    <p class="mt-2 mb-1 pb-0">Logo</p>
    <carousel>
      <slide style="width: 300px; margin: 0 auto">
        &lt;!&ndash;<img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">&ndash;&gt;
        &lt;!&ndash;<img src="http://placehold.it/800x800" alt="" style="display: block; width: 100%; max-height:600px; margin:0 auto;">&ndash;&gt;
        <img class="no-resize" src="http://placehold.it/800x800" alt="" >
      </slide>
    </carousel>
    <button type="submit" class="btn btn-outline-success mt-3 align-self-start">Submit</button>

  </div>-->
  </div>
</div>


<!------------------------------------------------------VIEW IMAGE MODAL----------------------------------------------------------------->

<ng-template #viewImageModal>
  <div class="modal-header">
    <h4 class="modal-title mx-auto">{{profileInfo.company}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <!--      <carousel [noWrap]="false" [(activeSlide)]="activeSlideIndex" >
        <slide *ngFor="let upload of profileUploads">
          <img *ngIf="!upload.fileURL" [src]='profileStorageURL+"assets/images/no-image-found.png"' alt="image slide" style="display: block; width: 100%;">
          <img *ngIf="upload.fileURL" [src]='profileStorageURL+upload.fileURL' alt="image slide" style="display: block; width: 100%;">
        </slide>
      </carousel>-->
      <div class="text-center">
        <img *ngIf="!image.fileURL" class="img-fluid" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
        <img *ngIf="image.fileURL" class="img-fluid" [src]='profileStorageURL+image.fileURL'>
      </div>
    </div>
  </div>
</ng-template>

<!------------------------------------------------------VIEW LOGO MODAL----------------------------------------------------------------->

<ng-template #viewLogoModal>
  <div class="modal-header">
    <h4 class="modal-title mx-auto">{{profileInfo.company}} Logo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img *ngIf="!logo.fileURL" class="img-fluid" [src]='profileStorageURL+"assets/images/no-image-found.png"'>
      <img *ngIf="logo.fileURL" class="img-fluid" [src]='profileStorageURL+logo.fileURL'>
      <!--<carousel>
        <slide>
          <img *ngIf="!logo.fileURL" [src]='profileStorageURL+"assets/images/no-image-found.png"' alt="logo" style="display: block; width: 100%;">
          <img *ngIf="logo.fileURL" [src]='profileStorageURL+logo.fileURL' alt="logo" style="display: block; width: 100%;">
        </slide>
      </carousel>-->
    </div>
  </div>
</ng-template>

<!------------------------------------------------------CHANGE EMAIL MODAL----------------------------------------------------------------->

<ng-template #changeEmailModal>
  <div class="modal-header">
    <h4 class="modal-title mx-auto">Change Email for {{profileInfo.company}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changeEmailForm" (ngSubmit)="onSubmitChangeEmail(changeEmailForm.value)">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Current Email:</label>
            <input type="text" class="form-control col-md-12" id="oldEmail" tabindex="1" formControlName="oldEmail">
          </div>
        </div>
        <div *ngIf="changeEmailForm.controls.oldEmail.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Email</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">New Email:</label>
            <input type="text" class="form-control col-md-12" id="email" tabindex="1" formControlName="email">
          </div>
        </div>
        <div *ngIf="changeEmailForm.controls.email.invalid && submitAttempt" class="validation">
          <p>Please enter a valid Email</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control col-md-12" id="password" tabindex="1" formControlName="password">
          </div>
          <div *ngIf="changeEmailForm.controls.password.invalid && submitAttempt" class="validation">
            <p>Please enter a valid Password</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password_confirmation">Confirm Password:</label>
            <input type="password" class="form-control col-md-12" id="password_confirmation" tabindex="1" formControlName="password_confirmation">
          </div>
          <div *ngIf="(changeEmailForm.controls.password_confirmation.invalid && submitAttempt) || (changeEmailForm.controls.password_confirmation.invalid && changeEmailForm.controls.password_confirmation.dirty)"
            class="validation">
            <p>Passwords do not match</p>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-success float-right" type="submit">Submit</button>
    </form>
  </div>
</ng-template>


<!------------------------------------------------------CHANGE PASSWORD MODAL----------------------------------------------------------------->

<ng-template #changePasswordModal>
  <div class="modal-header">
    <h4 class="modal-title mx-auto">Change Password for {{profileInfo.company}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword(changePasswordForm.value)">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control col-md-12" id="email" tabindex="1" formControlName="email">
          </div>
          <div *ngIf="changePasswordForm.controls.email.invalid && submitAttempt" class="validation red">
            <p>Please enter a valid Email</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">Current Password:</label>
            <input type="password" class="form-control col-md-12" id="oldPassword" tabindex="1" formControlName="oldPassword">
          </div>
          <div *ngIf="changePasswordForm.controls.oldPassword.invalid && submitAttempt" class="validation red">
            <p>Please enter a valid Password</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" maxlength="9" class="form-control col-md-12" id="password" tabindex="1" formControlName="password">
          </div>
          <div *ngIf="changePasswordForm.controls.password.invalid && submitAttempt" class="validation red" >
            <p>Please enter a valid Password. Must be 9 characters long with 1 uppercase letter, 1 number, and 1 special character ($@$!%*#?&)</p>
          </div>
        </div>
      </div>
      <small id="passwordHelpInline" class="text-muted pb-1">
        Must be 9 characters long with 1 uppercase letter, 1 number, and 1 special character ($@$!%*#?&)
      </small>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password_confirmation">Confirm New Password:</label>
            <input type="password" maxlength="9" class="form-control col-md-12" id="password_confirmation" tabindex="1" formControlName="password_confirmation">
          </div>
          <div *ngIf="(changePasswordForm.controls.password_confirmation.invalid && submitAttempt) || (changePasswordForm.controls.password_confirmation.invalid && changePasswordForm.controls.password_confirmation.dirty)"
            class="validation red">
            <p>Passwords do not match</p>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-success float-right" type="submit">Submit</button>
    </form>
  </div>
</ng-template>