.side-nav {
  /* background-color: MidnightBlue; */
}

.logo.logo-dark {
  width: 100%;
}

.logo.logo-white {
  display: none;
}

.margin-top-10 {
  margin-top: 10px;
}

.side-nav-menu {
  background-color: rgb(255, 255, 255);
}

.activate {
  background-color: #28a745;
}

.activate a {
  color: white !important;
}

.activate .icon-holder {
  color: white !important;
}

.side-nav .side-nav-inner .side-nav-menu>li>a {}

.side-nav .side-nav-inner .side-nav-menu>li.dropdown ul.dropdown-menu {
  padding-left: 0px !important;
}

.side-nav .side-nav-inner .side-nav-menu>li.dropdown ul.dropdown-menu li {
  padding-left: 50px !important;
}

@media only screen and (max-width: 1439px) {
  .logo.logo-white {
      width: 100%;
      display: block;
  }
  .logo.logo-dark {
      width: 100%;
      display: none;
  }
}

.is-opened .side-nav {
  width: 280px !important;
}

.is-collapsed .side-nav {
  width: 0px !important;
}

.profile-logo {
  border-right: 1px solid #b8babc;
  border-bottom: 1px solid rgba(70,70,70,0.7);
  display: table-cell;
  padding: 2rem 0;
}

.profile-logo-img {
width: 50%;
/* border: 1px solid #b8babc; */
margin-bottom: 10px;
}

.side-nav .side-nav-inner .side-nav-menu {
height: calc(100vh - 285px);
}
